.actuality {
  margin-bottom: 107px;
}

// grid container
.actuality_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 162px 235px;
  grid-column-gap: 16px;
  grid-row-gap: 35px;
}

.actuality_picture_wrapper {
  background: $color-dark-grey;
  backdrop-filter: blur(22.12802505493164px);

  grid-area: 1 / 1 / 3 / 2;
}

.actuality_title_wrapper {
  padding-top: 30px;
  padding-left: 40px;
  grid-area: 1 / 2 / 2 / 3;
}
.actuality_description_wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-area: 2 / 2 / 3 / 3;
}
.actuality_picture {
  width: 100%;
  height: 100%;
}

.actuality_title {
  color: $text-color;
  font-family: $arial;
  font-size: 60px;
  font-weight: $font-weight-900;
  line-height: 110%;
  letter-spacing: -2px;
}

.actuality_description {
  color: $text-color;
  font-family: $inter;
  font-size: 18px;
  font-weight: $font-weight-500;
  line-height: 150%;
  letter-spacing: -0.054px;
  padding-left: 40px;
}

// flex container 1
.actuality_offers_wrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 20px;
}
.actuality_offers_item {
  flex-basis: calc((100% - 16px) / 2);
  height: 220px;
  background: $color-dark-grey;
  backdrop-filter: blur(22.12802505493164px);
  box-shadow: 0px 3.48282px 8.70705px 0px $color-blue;
}

.actuality_offer {
  width: 100%;
  height: 100%;
}

// flex container 2
.second_actuality_offers_wrapper {
  display: flex;
  gap: 11px;
  justify-content: space-between;
  margin-top: 20px;
  background: $color-dark-grey;
  backdrop-filter: blur(22.12802505493164px);
}

.second_actuality_offers_item {
  flex-basis: calc((100% - 11px * 2) / 3);
  height: 200px;
  box-shadow: 0px 3.48282px 8.70705px 0px $color-blue;
}
