.author-section {
  @include media(padding-bottom, 41px, 70px, 120px);
}

.author-title-wrapper {
  @include media(margin-bottom, 25px, 30px, _);
  @extend %flex-centered;
  flex-direction: column;
  gap: 13px;
}

.author-title {
  display: block;
  color: $text-color;
  font-family: $arial;
  @include media-px(font-size, 26, 43, 60);
  font-weight: $font-weight-900;
  line-height: 110%;
  @include media-px(letter-spacing, -0.52, -0.86, -1.2);
}

.author-description {
  text-align: center;
  @include media(display, block, block, none);
  font-family: $inter;
  color: $text-color;
  @include media-px(font-size, 21, 26, _);
  font-weight: $font-weight-700;
  line-height: 120%;
  @include media-px(letter-spacing, -0.42, -0.52, _);
}

.author-credits-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include media(gap, 5px, 10px, _);
}

.author-credits-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include media(gap, 7px, 15px, 12px);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  @media screen and (min-width: 300px) {
    padding: 10px;
  }
  @media screen and (min-width: $mobile) {
    padding: 14px;
  }
  @media screen and (min-width: $tablet) {
    padding: 30px;
  }
  @media screen and (min-width: $desktop) {
    padding: 24px;
  }
}

.author-credits-item:nth-child(2) {
  grid-row: span 2;
}

.author-credits-title {
  color: $text-color;
  font-family: $arial;
  @include media-px(font-size, 32, 70, _);
  font-weight: $font-weight-900;
  line-height: 90%;
  @include media-px(letter-spacing, -0.64, -1.4, _);
}

.author-credits-description {
  color: $text-color;
  font-family: $inter;
  @include media-px(font-size, 9, 19, _);
  font-weight: $font-weight-600;
  line-height: 120%;
  @include media-px(letter-spacing, -0.18, -0.4, _);
}

.author-img-wrapper {
  min-width: 320px;
  max-width: 330px;
  height: 368px;
  overflow: hidden;
  border-radius: 8px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;

  @media screen and (min-width: $tablet) {
    margin: 0;
  }
}

.author-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.author-about-title {
  margin-bottom: 15px;
  color: $text-color;
  font-family: $arial;
  font-size: 18px;
  font-weight: $font-weight-900;
  line-height: 150%;
  letter-spacing: -0.36px;
}

.author-about-description {
  @include media-px(max-width, _, 430, 600);
  display: block;
  text-align: start;
  color: $text-color;
  font-family: $inter;
  font-size: 16px;
  font-weight: $font-weight-400;
  line-height: 150%;
  letter-spacing: -0.051px;
}

.author-block-wrapper {
  @media screen and (min-width: $tablet) {
    margin-top: 27px;
    display: flex;
    gap: 20px;
  }
}
