:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;

  color: var(--text-color);
  background-color: var(--bg-color);
  /* temp */
  min-height: 100vw;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* &.mobile-menu-open {
    overflow-y: hidden;
  } */
}

ul {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  --d: 200ms;
  --tf: linear;

  transition: color var(--d) var(--tf), border var(--d) var(--tf),
    background-color var(--d) var(--tf), transform var(--d) var(--tf);

  font-family: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;

  &:disabled {
    cursor: auto;
  }
}

/* Firefox  */
input,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

input,
textarea {
  &::-moz-placeholder {
    opacity: 1;
  }
}
address {
  font-style: normal;
}
