.footer-desktop {
  width: 100%;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 70px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 82px;
    background-color: $bg-color;
  }
}

.footer {
  @media screen and (max-width: calc(($mobile - 1px))) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: 510px 1fr;
    grid-template-rows: 1fr 87px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.footer-container1 {
  @media screen and (min-width: $desktop) {
    grid-area: 1 / 1 / 3 / 2;
  }
}

.footer-container2 {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    padding: 30px 0px 0px 150px;
  }
}
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;

  gap: 15px;
  width: 400px;
  height: 260px;
}

.footer-nav-item {
  flex-basis: calc((100% - 15px) / 2);
}

.footer-nav-link {
  color: $text-color;
  font-family: $montserrat;
  font-size: 24px;
  font-weight: $font-weight-400;
  line-height: 120%;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.5);
  }
}

.logo-footer-wrapper {
  display: flex;
  align-items: center;

  @media screen and (max-width: calc( $desktop - 1px)) {
    justify-content: center;
  }

  @include media(margin-bottom, 54px, 90px, 63px);
}

.logo-footer-icon {
  fill: $text-color;

  width: 242px;
  height: 36px;

  @media screen and (min-width: $tablet) {
    width: 464px;
    height: 70px;
  }

  @media screen and (min-width: $desktop) {
    width: 376px;
    height: 56px;
  }
}

.footer-socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(gap, 88px, 116px, 66px);
  @include media(margin-bottom, 47px, 122px, 135px);
}

.footer-social-list {
  display: flex;
  @include media(gap, 30px, 58px, 47px);
}

.footer-social-item {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;

  @media screen and (min-width: $tablet) {
    width: 77px;
    height: 77px;
  }
  @media screen and (min-width: $desktop) {
    width: 55px;
    height: 55px;
  }
}

.footer-social-icon {
  width: 40px;
  height: 40px;

  transition-duration: scale $transition-duration;

  @media screen and (min-width: $tablet) {
    width: 77px;
    height: 77px;
  }
  @media screen and (min-width: $desktop) {
    width: 55px;
    height: 55px;
  }

  .footer-social-item:hover & {
    transform: scale(1.1);
  }
}

.footer-socials-text {
  color: $text-color;
  font-family: $montserrat;
  font-weight: $font-weight-600;
  line-height: 120%;

  @include media(font-size, 12px, 23px, 18px);
}

// форма

.footer-subscribe-wrapper {
  display: flex;
  flex-direction: column;
  @include media(gap, 17px, 32px, 20px);
  @include media(margin-bottom, 43px, 83px, 0px);
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 631px;
  }

  @media screen and (min-width: $desktop) {
    width: 399px;
  }
}

.footer-form {
  display: flex;
  @include media(gap, 3px, 4px, 3px);
}

.footer-subscribe-text {
  color: $text-color;
  font-family: $montserrat;
  font-weight: $font-weight-600;
  line-height: 120%;
  @include media(font-size, 10px, 17px, 12px);
}

.footer-form_input {
  display: flex;
  width: 100%;
  height: 100%;

  border: transparent;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);

  @include media(padding, 13px 20px, 26px 39px, 16px 24px);
  @include media(border-radius, 9px, 17, 11px);

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: $inter;
    font-weight: $font-weight-500;
    line-height: 31px;

    @include media(font-size, 14px, 26px, 16px);
    @include media(letter-spacing, -0.4px, -0.7px, -0.4px);
  }

  @media screen and (min-width: $tablet) {
    width: 403px;
  }

  @media screen and (min-width: $desktop) {
    width: 256px;
  }
}

.footer-form_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $text-color;
  color: #151515;

  font-family: $arial;
  font-weight: $font-weight-900;
  line-height: 120%;

  @include media(padding, 14px 20px, 24px 39px, 16px 24px);
  @include media(border-radius, 9px, 17px, 11px);
  @include media(font-size, 14px, 26px, 16px);
  @include media(width, 116px, 223px, 141px);

  @media screen and (min-width: $desktop) {
    width: 360px;
  }

  $border-width: 1.5px;

  border: $border-width solid transparent;
  border: none;
  outline: none;
  position: relative;
  transform-style: preserve-3d;

  &::before {
    content: '';
    position: absolute;

    top: -$border-width;
    right: -$border-width;
    bottom: -$border-width * 1.5;
    left: -$border-width;

    background-color: rgb(109, 220, 255);
    background: linear-gradient(rgba(109, 220, 255, 1), rgba(127, 96, 249, 1));

    transform: translate3d(0, 0, -1px);
    border-radius: inherit;

    visibility: hidden;
  }

  &:focus-visible,
  &:hover {
    color: $text-color;
    background-color: black;

    &::before {
      visibility: visible;
    }
  }
}

.footer-container3 {
  display: flex;

  @media screen and (max-width: calc(($tablet - 1px))) {
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: 2 / 2 / 3 / 3;
    // padding-left: 60px;
    padding-right: 30px;
  }
}

.copyright-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: flex-end;
  justify-content: space-between;
}

.copyright-text {
  color: $text-color;
  font-family: $arial;
  font-weight: $font-weight-600;
  line-height: 126%;

  @include media(font-size, 13px, 25px, 13px);
  @include media(letter-spacing, -0.4px, -0.8px, -0.4px);
}

.copyright-privacy-policys-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;

  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    padding-right: 0px;
    padding-left: 70px;

    gap: 100px;
  }
}

.copyright-privacy-policy {
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-size: 9px;
  font-weight: $font-weight-400;
  line-height: 126%;
  text-decoration-line: underline;

  @include media(font-size, 9px, 17px, 14px);
  @include media(letter-spacing, -0.3px, -0.5px, -0.4px);
}

.copyright-privacy-policy-btn {
  background-color: transparent;
  border: transparent;
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-weight: $font-weight-400;
  line-height: 126%;
  text-decoration-line: underline;

  @include media(font-size, 9px, 17px, 14px);
  @include media(letter-spacing, -0.3px, -0.5px, -0.4px);
}
