.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  padding: 20px 0;
<<<<<<< HEAD:src/css/header.css
  height: 72px;

  @media screen and (min-width: 768px) {
    height: 84px;
  }

  background-color: beige;
=======
  background-color: darkgray;
}

.nav {
  display: flex;
  justify-content: center;
>>>>>>> main:src/sass/_header.scss
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
