.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;

  transition: padding 200ms ease-out;

  &.sticky-header {
    background-color: $bg-color;

    @media screen and (max-width: calc($tablet - 1px)) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media screen and (max-width: calc($desktop - 1px)) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &:not(.sticky-header) {
    @media screen and (max-width: calc($desktop - 1px)) {
      display: flex;
      align-items: center;
      height: $upper-bracket-offset;
    }
  }
}

.header-container {
  @extend .container;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.nav {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    flex-grow: 1;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  gap: 50px;
}

.nav-link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.32px;

  &::first-letter {
    text-transform: uppercase;
  }

  color: inherit;
  display: block;
  height: 100%;

  @media screen and (min-width: $desktop) {
    padding: 35px 0;
  }

  .sticky-header & {
    padding: 25px 0;
  }
}

.nav-item {
  @media screen and (min-width: $desktop) {
    &:last-child {
      margin-left: auto;
    }
  }
}

.header-button {
  @extend .generic-button;

  padding: 11px 20px;
  border-radius: 100px;
  border: 1px transparent inherit;
  font-size: 18px;

  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.header-logo-link {
  color: white;

  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transform: scaleX(1.2) translate(-50%, -50%);
  }
}

.header-logo-icon {
  fill: currentColor;

  width: 82px;
  height: 18px;

  .logo-tablet,
  .logo-desktop {
    opacity: 0;
  }
  .logo-mobile {
    opacity: 1;
  }

  @media screen and (min-width: $tablet) {
    width: 146px;
    height: 27px;

    .logo-mobile,
    .logo-desktop {
      opacity: 0;
    }
    .logo-tablet {
      opacity: 1;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 150px;
    height: 25px;

    .logo-mobile,
    .logo-tablet {
      opacity: 0;
    }
    .logo-desktop {
      opacity: 1;
    }
  }
}

.burger-button {
  display: flex;
  align-items: center;

  color: inherit;
  background-color: transparent;
  border: none;

  font-family: $arial;
  font-weight: 900;
  line-height: 110%;
  text-transform: uppercase;

  font-size: 14px;
  letter-spacing: -0.28px;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 25.378px;
    letter-spacing: -0.508px;
    gap: 34px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.burger-button-icon {
  stroke: currentColor;

  width: auto;
  height: 15px;

  @media screen and (min-width: $tablet) {
    height: 32px;
  }
}

.header-logo-link,
.nav-link,
.burger-button {
  &:hover,
  &:focus-visible {
    color: silver;
  }
}

.form-rendering-container {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
