:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: 'Inter', sans-serif;

  color: $text-color;
  background-color: $bg-color;

  background: url(../img/noise/noise.png), $bg-color;
}
