.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(silver, 0.2);
  // background: linear-gradient(
  //   90deg,
  //   rgba(silver, 0.2) 0%,
  //   rgba(silver, 0.2) 100%
  // );
  backdrop-filter: blur(20px);

  z-index: 10000;

  // padding-top: 75px;
}

.modal {
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);

  overflow: hidden;

  border-radius: 24px;

  @media screen and (min-width: $tablet) {
    width: 790px;
    padding: 25px 100px;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    max-width: 1000px;
  }

  font-family: $montserrat;
  text-align: justify;

  color: silver;
  background: $bg-color;

  width: 350px;
  padding: 15px;

  @media screen and (max-width: calc(($mobile - 1px))) {
    width: 100%;
    padding: 5px;
  }

  @media screen and (max-width: calc($tablet - 1px)) {
    padding-top: 25px;
  }

  &::before {
    content: url('/img/glow/glow-tariff.webp');
    z-index: -1;
    position: absolute;

    top: 0;

    @media screen and (max-width: calc(($tablet - 1px))) {
      right: -150%;
    }

    @media screen and (min-width: $tablet) {
      right: -75%;
    }

    @media screen and (min-width: $desktop) {
      right: -60%;
      transform: scale(1.5);
    }
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.button-close {
  width: 24px;
  height: 24px;

  box-sizing: content-box;
  padding: 10px;

  color: silver;
  background: transparent;
  border: none;
  border-radius: 50%;

  position: absolute;

  @media screen and (max-width: calc($tablet - 1px)) {
    padding: 5px;
    top: 10px;
  }

  top: 12px;
  right: 10px;

  transition: transform 400ms;

  &:hover,
  &:focus-visible {
    color: $text-color;
    transform: scale(1.2);
  }
}

.button-close-icon {
  fill: currentColor;
}

.modal__title {
  display: block;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}

.privacy-policy-text-wrapper {
  overflow: hidden;
  overflow-y: scroll;
  height: 90%;

  p,
  li {
    @include media-px(font-size, 14, 16, 18);
  }

  ul {
    list-style: inside;
    list-style-type: disc;
    padding-left: 3px;
  }

  /* Hide scrollbar  */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translateX(-50%) translateY(-80%);
  }
}

.privacy-policy-text {
  margin-bottom: 20px;
}

/* Auto-numbering of sections */
.modal__title {
  counter-reset: h3counter;
}

.privacy-policy-anchor:before {
  content: counter(h3counter) '. ';
  counter-increment: h3counter;
  padding-right: 20px;
}

/* Auto-numbering of paragraphs */
.subitems-level-one {
  counter-reset: li-level-one-counter;
  font-weight: normal;

  > li {
    padding-left: 5px;
    counter-increment: li-level-one-counter;

    margin: 10px 0 10px 40px;

    &::marker {
      content: counter(h3counter) '.' counter(li-level-one-counter) '. ';
      font-weight: bold;
    }
  }
}

.subitems-level-two {
  counter-reset: li-level-two-counter;

  > li {
    // padding-left: 15px;
    counter-increment: li-level-two-counter;

    margin: 10px 0 10px 0;

    &::marker {
      content: counter(h3counter) '.' counter(li-level-one-counter) '.'
        counter(li-level-two-counter) '. ';
      font-weight: bold;
    }
  }
}
