.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 75px;
  background-color: black;
  backdrop-filter: blur(2px);
  overflow-y: scroll;
  z-index: 10000;
}

.modal {
  font-family: $montserrat;
  text-align: justify;

  @media screen and (max-width: calc(($mobile - 1px))) {
    width: 100%;
    padding: 5px;
  }

  width: 350px;
  padding: 15px;

  background: $bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  max-height: 100vh;
  border-radius: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;

  transform: translate(-50%, -50%);

  &::-webkit-scrollbar {
    width: 0.1em;
  }

  @media screen and (min-width: $tablet) {
    width: 790px;
    padding: 25px 60px;
  }

  @media screen and (min-width: $desktop) {
    width: 1000px;
  }

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translateX(-50%) translateY(-80%);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.button-close {
  width: 24px;
  height: 24px;

  box-sizing: content-box;
  padding: 10px;

  color: silver;
  background: transparent;
  border: none;
  border-radius: 50%;

  position: absolute;
  top: 24px;
  right: 24px;

  transition: transform 400ms;

  &:hover,
  &:focus-visible {
    color: $text-color;
    transform: scale(1.2);
  }
}

.button-close-icon {
  fill: currentColor;
}

.modal__title {
  display: block;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
  margin-bottom: 30px;
  margin-top: 28px;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}

.condition-title {
  font-size: 14px;
}
