.modal-dev {
  @extend .modal;

  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);

  justify-content: center;
  align-items: center;

  $size: 60px;
  padding-top: $size;
  padding-bottom: $size;
  gap: $size;

  max-width: 90%;

  @media screen and (min-width: $tablet) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    $size: 80px;

    padding-top: $size;
    padding-bottom: $size;
    gap: $size;

    max-width: 500px;
  }

  &::before {
    right: auto;
  }

  .modal__title {
    margin-top: 0;
  }
}

.button-close-dev {
  @extend .button-close;

  top: 24px;
  right: 24px;
}

.modal-dev-list {
  text-align: center;
}

.modal-dev-link {
  color: $text-color;
  font-family: $montserrat;
  font-size: 18px;
  font-weight: $font-weight-400;
  text-decoration: underline;
}
