.success-story {
  @include media(padding-bottom, 50px, 70px, 105px);
}

.success-story_list {
  @media screen and (max-width: calc(($mobile - 1px))) {
    margin-left: auto;
    margin-right: auto;
    width: 310px;
  }

  display: flex;
  flex-direction: column;
  @include media(gap, 25px, 36px, 8px);

  @include media(width, 340px, 804px, 1240px);
}

.success-story_item {
  display: flex;
  border-radius: 20px;

  width: 100%;
  @include media(height, 93px, 165px, 180px);

  @media screen and (min-width: $tablet) {
    position: relative;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: calc(($desktop - 1px))) {
    &:last-child {
      gap: 50px;
      flex-direction: column;
      height: 360px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:last-child {
      justify-content: space-between;
    }
  }
}

.success-story_info_wrapper {
  display: flex;
  border-radius: 20px;
  height: 100%;
  z-index: 10;
}

.success-story_img_wrapper {
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  background: $color-dark-grey;

  @include media(width, 150px, 275px, 302px);
}

.success-story_img {
  width: 100%;
  height: 100%;
}

.success-story_description_wrapper {
  @media screen and (max-width: calc(($mobile - 1px))) {
    width: 180px;
    padding: 8px 10px;
  }

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid $color-grey;
  background-color: $text-color;

  @include media(width, 210px, 280px, 345px);
  @include media(padding, 15px 20px, 27px 20px, 40px);
  @include media(margin-left, -20px, -50px, -40px);
}

.success-story_description {
  color: $text-color-brown;
  font-family: $inter;
  font-weight: $font-weight-600;

  @include media(font-size, 12px, 18px, 18px);
  @include media(line-height, calc(15 / 12), calc(25 / 18), calc(25 / 18));
  @include media(letter-spacing, -0.2px, -0.32px, -0.32px);
}

.accent--description {
  color: $text-color-navy;
  @include media(margin-top, 5px, 10px, 15px);
}

.success-story_svg_wrapper {
  position: absolute;
  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }

  &.icon-arrow-left {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      top: 50%;
      right: 40%;
    }
    @media screen and (min-width: $desktop) {
      right: 45%;
      top: 40%;
    }
  }

  &.icon-arrow-right {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      top: 50%;
      left: 40%;
    }
    @media screen and (min-width: $desktop) {
      left: 45%;
      top: 40%;
    }
  }
}

.success-story_result_wrapper {
  @media screen and (max-width: calc(($mobile - 1px))) {
    width: 180px;
    padding: 8px 10px;
  }

  display: inline-flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid $color-grey;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: none;

  @include media(width, 210px, 333px, 345px);
  @include media(margin-left, -20px, -50px, -40px);
  @include media(padding, 20px 10px, 30px 35px, 40px);
  @include media(gap, 7px, 10px, 12px);

  @media screen and (max-width: ($tablet - 1px)) {
    align-items: center;
  }
}

.success-story_result-text {
  color: $text-color;
  font-family: $inter;
  font-weight: $font-weight-600;
  line-height: calc(25 / 18);

  @include media(font-size, 12px, 18px, 18px);
  @include media(line-height, calc(14 / 12), calc(25 / 18), calc(25 / 18));
  @include media(letter-spacing, -0.2px, -0.3px, -0.3px);
}

.result-text_accent {
  display: block;
  padding: 6px;
  border-radius: 6px;
  background: $color-yellow;
  color: $text-color-brown;
}

.success-story_article_wrapper {
  max-width: 601px;
  align-items: center;

  @include media(padding-top, _, _, 25px);
  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }
  @media screen and (max-width: ($desktop - 1px)) {
    margin-left: auto;
    margin-right: auto;
  }
}

.success-story_article {
  color: rgba(243, 243, 243, 0.8);
  font-family: $inter;
  font-weight: $font-weight-600;
  line-height: 150%;
  letter-spacing: -0.3px;

  text-align: center;
  font-size: 21px;

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    text-align: start;
  }
}
