.swiper {
  width: 100%;
  height: 100%;
  @extend %flex-centered;
  @include media(padding-top, 25px, 70px, 120px);
}

.swiper-slide {
  max-width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 20px;
}

.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
