.swiper {
  width: 100%;
  height: 100%;
  @extend %flex-centered;
  @include media(padding, 25px 0, 70px 0, 120px 0);
  background: url('../img/gradient.svg'), no-repeat;
  background-size: cover;
  background-position: center center;
}

.swiper-slide {
  max-width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 20px;
}

.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
