.tariffs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 100px;
  }
}

.tariff-header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include media-px(margin-bottom, 30, 50, 50);
}

.decoration-lines_mobile {
  @include media(display, block, none, none);
}

.decoration-lines_tablet {
  @include media(display, none, block, none);
}

.decoration-lines_desktop {
  @include media(display, none, none, block);
}

.tariffs-summary-wrapper {
  @media screen and (max-width: calc(($desktop) - 1px)) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 60px;
  }
}

.summary-text {
  color: $text-color;
  font-family: $inter;
  @include media-px(font-size, 16, 32, 16);
  font-weight: $font-weight-600;
  line-height: 120%;
}

.benefits-desktop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }
}

.benefits-item.benefits-white {
  @media (min-width: $tablet) {
    order: 2;
  }
}

.benefits-list li:last-child {
  @media screen and (min-width: 300px) and (max-width: calc(($tablet) - 1px)) {
    border-bottom: 0.6px solid #fff;
  }
}

.benefits-item {
  max-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 30px 15px;

  @media (min-width: $tablet) {
    max-width: 440px;
    min-height: 395px;
    gap: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 30px;
  }

  @media (min-width: $desktop) {
    padding: 40px 40px;
  }
}

.benefits-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  @media screen and (min-width: $tablet) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.benefits-icon-wrapper {
  @extend %flex-centered;
  width: 70px;
  height: 70px;
  background-color: $color-icon-grey;
  border-radius: 50%;
}

.white-bg {
  background-color: white;
}

.new-wrapper {
  @extend %flex-centered;
  padding: 4.5px 8px;
  border-radius: 18px;
  background-color: #fff;
}

.new-text {
  color: $bg-color;
}

.benefits-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    align-items: start;
    text-align: start;
  }
}

.benefits-white {
  border-top: 0.6px solid #fff;
}

.benefits-black {
  border-top: 0.6px solid $color-border-result;
  border-right: 0.6px solid $color-border-result;
  border-left: 0.6px solid $color-border-result;
}

.benefits-left {
  @media screen and (min-width: $tablet) {
    border-left: none;
  }
}

.benefits-right {
  @media screen and (min-width: $tablet) {
    border-right: none;
  }
  @media screen and (min-width: $desktop) {
    padding-right: 0;
  }
}

.benefits-left.benefits-white {
  @media screen and (min-width: $tablet) {
    border-right: 0.6px solid #fff;
  }
}

.benefits-title {
  color: $text-color-benefits;
  font-family: $arial;
  @include media-px(font-size, 24, 25, 24);
  font-weight: $font-weight-900;
  line-height: 100%;
}

.benefits-description {
  color: $text-color-benefits-faded;

  font-family: $inter;
  @include media-px(font-size, 16, 19, 18);
  font-weight: $font-weight-400;
  line-height: 120%;
  letter-spacing: -0.32px;
}

.benefits-extra-wrapper {
  text-align: center;
}

.benefits-old-price {
  color: $text-color-old-faded;
  text-decoration: line-through;
  font-family: $montserrat;
  font-size: 13px;
  font-weight: $font-weight-400;
  line-height: 120%;
}

.benefits-extra-info {
  color: $text-color-benefits;
  font-family: $inter;
  font-size: 13px;
  font-weight: $font-weight-500;
  line-height: 120%;
}

.all-equal-text {
  @include media(display, block, block, none);
  text-align: center;
  color: $text-color;
  font-family: $arial;
  font-weight: $font-weight-900;
  @include media-px(font-size, 26, 43, _);
  @include media(line-height, 110%, 110%, _);
  @include media-px(letter-spacing, -0.52, -0.86, _);
  @include media-px(margin-top, 45, 90, _);
  @include media-px(margin-bottom, 30, 40, _);
}

.all-equal-text_desktop {
  @include media(display, none, none, block);

  color: $text-color;
  font-family: $arial;
  font-size: 60px;
  font-weight: $font-weight-900;
  line-height: 110%;
  letter-spacing: -1.2px;
}

.all-equal-grey {
  color: $text-color-all-equal;
}

.tariff-card-overlay {
  position: relative;

  &::before {
    content: url('/img/glow/glow-tariff.webp');
    z-index: -1;
    position: absolute;

    top: -30%;
    left: -60%;

    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
      top: -20%;
      left: -35%;
      transform: scale(1.1);
    }
  }
}

.tariff-card {
  max-width: 558px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 40px 40px;
  border-radius: 14px;
  background-color: $tariff-card-bg;

  @media screen and (min-width: $tablet) {
    padding: 60px;
  }
  @media screen and (min-width: $desktop) {
    position: sticky;
    top: 0;
    max-width: 420px;
    padding: 30px 43px 30px 43px;
  }
}

.barcode-wrapper {
  display: flex;
}

.barcode-third {
  @include media(display, none, block, none);
}

.tariff-card-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tariffs-old-price {
  color: $text-color-benefits-faded;
  text-decoration: line-through;
  font-family: $arial;
  @include media-px(font-size, 26, 39, 30);
  font-weight: $font-weight-900;
  line-height: 100%;
  @include media-px(letter-spacing, -0.523, -0.77, -0.6);
}

.tariffs-new-price {
  margin-bottom: 10px;
  color: $text-color;
  font-family: $arial;
  @include media-px(font-size, 43, 72, 50);

  font-weight: $font-weight-900;
  line-height: 120%;
}

.register-text {
  margin-bottom: 40px;
  color: $text-color;
  font-family: $montserrat;
  @include media-px(font-size, 14, 24, 16);
  font-weight: $font-weight-400;
  line-height: 155%;
}

.tariffs-duration-text {
  margin-bottom: 10px;
  color: $text-color;
  font-family: $arial;
  @include media-px(font-size, 46, 79, 54);

  font-weight: $font-weight-900;
  line-height: 110%;
}

.tariffs-start {
  @include media-px(margin-bottom, 45, 80, 57);
  color: $text-color;
  font-family: $montserrat;
  @include media-px(font-size, 14, 24, 16);
  font-weight: $font-weight-400;
  @include media-px(line-height, 22, 37, 25);
}

.tariffs-startdate {
  font-weight: $font-weight-700;
}

.tariffs-payment {
  @include media-px(margin-bottom, 45, 82, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-px(gap, 27, 46, 31);
}

.tariffs-payment-text {
  color: $text-color;
  font-family: $inter;
  @include media-px(font-size, 12, 21, 14);
  font-weight: $font-weight-400;
  line-height: 120%;
}

.payment-box {
  @include media-px(width, 84, 143, 99);
  @include media-px(height, 87, 148, 102);
}

.tariff-btn {
  text-align: center;
  align-self: center;
  @include media(padding, 25px 26px, 35px 30px, 25px 30px);
  border-radius: 65px;
  @include media-px(min-width, 244, 411, 310);
  @include media-px(min-height, 65, 110, 76);

  font-family: $arial;
  @include media-px(font-size, 17, 30, 21);

  font-weight: $font-weight-900;
  line-height: 120%;
  text-transform: uppercase;
}
