/* Colors */
$bg-color: #151515;
$text-color: white;
$text-color-faded: #fbfbfb;

/* Breakpoints */
$mobile: 360px;
$tablet: 834px;
$desktop: 1280px;

/* Font-family */
$arial: Arial;
$inter: Inter;

/* Font-weight */
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-900: 900;
