// Colors
$bg-color: #151515;
$text-color: white;
$text-color-faded: #fbfbfb;
$text-color-brown: #404040;
$text-color-navy: #004267;
$color-blue: #3e93d9;
$color-yellow: #ffd258;
$color-grey: #d9d9d9;
$color-dark-grey: rgba(255, 255, 255, 0.08);

// Breakpoints
$mobile: 360px;
$tablet: 834px;
$desktop: 1280px;

// Font-family
$arial: Arial;
$inter: Inter;

// Font-weight
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-900: 900;

// Vertical offset (Hero / header)
:root {
  --vertical-offset: 70px;

  @media screen and (min-width: $tablet) {
    --vertical-offset: 130px;
  }
  @media screen and (min-width: $desktop) {
    --vertical-offset: 140px;
  }
}

$vertical-offset: var(--vertical-offset);
