<section class="container actuallity">
  <div class="actuallity_container">
    <div class="actuallity_picture_wrapper">
      <img
        class="actuallity_picture"
        src="img/actuallity/actuallity1.png"
        alt="Job Offer"
      />
    </div>
    <div class="actuallity_title_wrapper">
      <h2 class="actuallity_title">Актуальність професії</h2>
    </div>
    <div class="actuallity_description_wrapper">
      <p class="actuallity_description">
        На ринку барберингу цікава тенденція: не барбершоп обирає майстра, а сам
        майстер вибирає те місце, де він бажає розвивати свою кар'єру.
      </p>
      <p class="actuallity_description">
        Ми зіткнулися з серйозною проблемою на ринку - дефіцитом кваліфікованих
        спеціалістів. Тож, ми вирішили взяти ситуацію в свої руки і створили
        програму підготовки барберів, включаючи для нашого барбершопу.
      </p>
    </div>
  </div>

  <ul class="actuallity_offers_wrapper">
    <li class="actuallity_offers_item">
      <img
        class="actuallity_offer"
        src="img/actuallity/actuallity2.png"
        alt="Job Offer"
      />
    </li>
    <li class="actuallity_offers_item">
      <img
        class="actuallity_offer"
        src="img/actuallity/actuallity3.png"
        alt="Job Offer"
      />
    </li>
  </ul>

  <ul class="second_actuallity_offers_wrapper">
    <li class="second_actuallity_offers_item">
      <img
        class="actuallity_offer"
        src="img/actuallity/actuallity4.png"
        alt="Job Offer"
      />
    </li>
    <li class="second_actuallity_offers_item">
      <img
        class="actuallity_offer"
        src="img/actuallity/actuallity5.png"
        alt="Job Offer"
      />
    </li>
    <li class="second_actuallity_offers_item">
      <img
        class="actuallity_offer"
        src="img/actuallity/actuallity6.png"
        alt="Job Offer"
      />
    </li>
  </ul>
</section>
