<section class="container actuality">
  <div class="actuality_wrapper">
    <div class="actuality_picture_wrapper">
      <img
        class="actuality_picture"
        src="img/actuality/actuallity1.webp"
        alt="Job Offer"
      />
    </div>
    <div class="actuality_title_wrapper">
      <h2 class="actuality_title">Актуальність професії</h2>
    </div>
    <div class="actuality_description_wrapper">
      <p class="actuality_description">
        На ринку барберингу цікава тенденція: не барбершоп обирає майстра, а сам
        майстер вибирає те місце, де він бажає розвивати свою кар'єру.
      </p>
      <p class="actuality_description">
        Ми зіткнулися з серйозною проблемою на ринку - дефіцитом кваліфікованих
        спеціалістів. Тож, ми вирішили взяти ситуацію в свої руки і створили
        програму підготовки барберів, включаючи для нашого барбершопу.
      </p>
    </div>
    <div class="actuality_offers_item1">
      <img
        class="actuality_picture"
        src="img/actuality/actuallity2.webp"
        alt="Job Offer"
      />
    </div>
    <div class="actuality_offers_item2">
      <img
        class="actuality_picture"
        src="img/actuality/actuallity3.webp"
        alt="Job Offer"
      />
    </div>
  </div>
  <ul class="actuality_offers">
    <li class="actuality_offer-1">
      <img
        class="actuality_picture"
        src="img/actuality/actuallity4.webp"
        alt="Job Offer"
      />
    </li>
    <li class="actuality_offer-2">
      <img
        class="actuality_picture"
        src="img/actuality/actuallity5.webp"
        alt="Job Offer"
      />
    </li>
    <li class="actuality_offer-3">
      <img
        class="actuality_picture"
        src="img/actuality/actuallity6.webp"
        alt="Job Offer"
      />
    </li>
    <li class="actuality_offer-4">
      <img
        class="actuality_picture"
        src="img/actuality/actuallity7.webp"
        alt="Job Offer"
      />
    </li>
  </ul>
</section>
