<section class="author-section container">
  <div class="author-title-wrapper">
    <h2 class="author-title">Автор курсу</h2>
    <p class="author-description">Віталій - барбер та власник барбершопу</p>
  </div>
  <ul class="author-credits-list_tablet">
    <li class="author-credits-item">
      <h3 class="author-credits-title">7+</h3>
      <p class="author-credits-description">Років у барберінгу</p>
    </li>
    <li class="author-credits-item">
      <h3 class="author-credits-title">250</h3>
      <p class="author-credits-description">Постійних клієнтів в місяць</p>
    </li>
    <li class="author-credits-item">
      <h3 class="author-credits-title">В 22</h3>
      <p class="author-credits-description">роки відкрив свій перший бізнес</p>
    </li>
  </ul>

  <div class="author-block-wrapper">
    <div class="author-img-wrapper">
      <img class="author-img" src="img/author/author.jpg" alt="author photo" />
    </div>
    <div class="author-about-wrapper">
      <p class="author-description_desktop">Барбер та власник бізнесу</p>
      <ul class="author-credits-list_desktop">
        <li class="author-credits-item">
          <h3 class="author-credits-title">7+</h3>
          <p class="author-credits-description">Років у барберінгу</p>
        </li>
        <li class="author-credits-item">
          <h3 class="author-credits-title">250</h3>
          <p class="author-credits-description">Постійних клієнтів в місяць</p>
        </li>
        <li class="author-credits-item">
          <h3 class="author-credits-title">В 22</h3>
          <p class="author-credits-description">
            роки відкрив свій перший бізнес
          </p>
        </li>
      </ul>
      <h4 class="author-about-title">Про мене</h4>
      <p class="author-about-description">
        Що відрізняє теоретика від професіонала? Теоретик скаже, що вже все знає
        і може розказати про це, а профі — знає, що дійсно важливе в роботі і як
        дати потрібний результат студенту. Я відношу себе до профі-практика і за
        моєю спиною великий досвід роботи барбером в різних барбершопах,
        відкриття власного бізнесу і якісної академії барберінгу. Я знаю: які
        навики вам потрібні, щоб мати заповнену базу постійних клієнтів і без
        лишнього пафосу заробляти на цьому. Я розробив авторський метод
        навчання, що зробить кожного студента барбером. Бо маю на меті розширяти
        бізнес і мені потрібно надалі співпрацювати саме з професіоналами.
      </p>
    </div>
  </div>
</section>
