<section class="author-section container" id="author">
  <div class="author-title-wrapper">
    <h2 class="author-title">Автор курсу</h2>
    <p class="author-description">Віталій - барбер та власник барбершопу</p>
    <div class="author-name-wrapper">
      <p class="author-name">Віталій</p>
      <div class="author-icon-bg">
        <img
          src="img/author/author-icon.svg"
          width="14"
          height="14"
          alt="Стрілка"
        />
      </div>
    </div>
  </div>
  <div class="author-content-wrapper">
    <ul class="author-credits-list_tablet">
      <li class="author-credits-item">
        <h3 class="author-credits-title">7+</h3>
        <p class="author-credits-description">років у барберингу</p>
      </li>
      <li class="author-credits-item">
        <h3 class="author-credits-title">250</h3>
        <p class="author-credits-description">постійних клієнтів в місяць</p>
      </li>
      <li class="author-credits-item">
        <h3 class="author-credits-title">У 22</h3>
        <p class="author-credits-description">
          роки відкрив свій перший бізнес
        </p>
      </li>
    </ul>

    <div class="author-block-wrapper">
      <div class="author-img-wrapper">
        <img
          class="author-img"
          src="img/author/author.webp"
          width="640"
          height="650"
          alt="Фото автора"
        />
      </div>
      <div class="author-about-wrapper">
        <p class="author-description_desktop">Барбер та власник бізнесу</p>
        <ul class="author-credits-list_desktop">
          <li class="author-credits-item">
            <h3 class="author-credits-title">7+</h3>
            <p class="author-credits-description">років у барберингу</p>
          </li>
          <li class="author-credits-item">
            <h3 class="author-credits-title">250</h3>
            <p class="author-credits-description">
              постійних клієнтів в місяць
            </p>
          </li>
          <li class="author-credits-item">
            <h3 class="author-credits-title">У 22</h3>
            <p class="author-credits-description">
              роки відкрив свій перший бізнес
            </p>
          </li>
        </ul>
        <h4 class="author-about-title">Про мене</h4>
        <p class="author-about-description">
          Що відрізняє теоретика від професіонала? Теоретик скаже, що вже усе
          знає і може розказати про це, а профі знає, що дійсно важливе в роботі
          і як дати студенту потрібний результат. Я відношу себе до
          профі-практиків, адже за моєю спиною великий досвід роботи барбером в
          різних барбершопах, відкриття власного бізнесу та якісної академії
          барберингу. Я знаю, які навички вам потрібні, щоб мати наповнену базу
          постійних клієнтів і без зайвого пафосу заробляти на цьому. Я розробив
          авторський метод навчання, який зробить з кожного студента барбера,
          адже я маю на меті розширювати бізнес і мені потрібно надалі
          співпрацювати саме з професіоналами.
        </p>
      </div>
    </div>
  </div>
</section>
