<!-- Contacts info block -->
<div class="contact-info_wrapper">
  <div class="contact-info_container">
    <h4 class="contact-info_title">Контакти</h4>
    <svg class="icon-arrow-bottom">
      <use href="img/symbol-defs.svg#icon-arrow-bottom"></use>
    </svg>
  </div>

  <div class="contact-wrapper">
    <a class="contact-info_number" href="tel:+380673244206"
      >+380 (67) 324 42 06</a
    >
    <a class="contact-info_mail" href="mailto:kursbarber@gmail.com"
      >kursbarber@gmail.com</a
    >
    <div class="contact-info_adress-wrapper">
      <p class="contact-info_adress">
        Київ, ЖК Кришталеві Джерела вул. Метрологічна, 54б
      </p>
      <ul class="contact-social-list">
        <li class="contact-social-item">
          <a
            href=""
            class="contact-social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-contact">
              <use href="img/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="contact-social-item">
          <a
            href="https://instagram.com/barber.course1?igshid=YzAwZjE1ZTI0Zg=="
            class="contact-social-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-contact">
              <use href="img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
