<section class="feedback-section" id="feedback">
  <div class="feedback-content-wrapper container">
    <div>
      <h2 class="feedback-title">Історії і відгуки студентів</h2>
      <img
        class="feedback-desktop-stroke"
        src="img/feedback/stroke.svg"
        alt="Декоративний елемент секції"
      />
    </div>

    <ul class="feedback-list">
      <li class="feedback-item">
        <button class="feedback-button">
          <div class="feedback-header">
            <div class="feedback-img-wrapper">
              <img
                class="feedback-img"
                src="img/feedback/feedback1.webp"
                alt="feedback user photo"
              />
            </div>
            <div>
              <h3 class="feedback-user">Олександр Ковальчук</h3>
              <div class="feedback-stars-block">
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
              </div>
            </div>
            <div class="feedback-arrow-wrapper">
              <img
                class="feedback-arrow"
                src="img/feedback/arrow.svg"
                alt="Стрілка"
              />
            </div>
          </div>
          <p class="feedback-text hidden-feedback" id="feedback-text-1">
            Що мені сподобалося – «поставили» руку під час роботи з
            інструментами, навчили бачити образ людини, щоб підбирати їй
            ідеальну стрижку. Дуже радий, що вчився саме тут.
          </p>
        </button>
      </li>

      <li class="feedback-item">
        <button class="feedback-button">
          <div class="feedback-header">
            <div class="feedback-img-wrapper">
              <img
                class="feedback-img"
                src="img/feedback/feedback2.webp"
                alt="feedback user photo"
              />
            </div>
            <div>
              <h3 class="feedback-user">Андрій Дубровський</h3>
              <div class="feedback-stars-block">
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
              </div>
            </div>
            <div class="feedback-arrow-wrapper">
              <img
                class="feedback-arrow"
                src="img/feedback/arrow.svg"
                alt="Стрілка"
              />
            </div>
          </div>

          <p class="feedback-text hidden-feedback" id="feedback-text-2">
            Спочатку я сумнівався, що зможу бути барбером. Але бажання мати
            цікаву професію було. Моя подорож почалася з цього курсу. Тут я
            зрозумів, що класно стригти насправді легко, я знайшов не лише
            знання та навички, але й підтримку від викладачів та однодумців.
            Тепер я задоволений кожним днем ​​роботи, і мені надзвичайно приємно
            бачити задоволених клієнтів. Якщо я зміг зробити це, ви також
            можете. Рекомендую навчання в Віталія - він знає цю справу!
          </p>
        </button>
      </li>

      <li class="feedback-item">
        <button class="feedback-button">
          <div class="feedback-header">
            <div class="feedback-img-wrapper">
              <img
                class="feedback-img"
                src="img/feedback/feedback3.webp"
                alt="feedback user photo"
              />
            </div>
            <div>
              <h3 class="feedback-user">Олег Панасенко</h3>
              <div class="feedback-stars-block">
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
              </div>
            </div>
            <div class="feedback-arrow-wrapper">
              <img
                class="feedback-arrow"
                src="img/feedback/arrow.svg"
                alt="Стрілка"
              />
            </div>
          </div>

          <p class="feedback-text hidden-feedback" id="feedback-text-3">
            До курсу «з нуля» навіть ножиці боявся брати до рук. Тепер і
            ножицями і машинкою працюю практично на «автоматі». Дають відмінну
            базу для роботи та подальшого зростання! З першого дня роботи
            клієнти стали постійними.
          </p>
        </button>
      </li>

      <li class="feedback-item">
        <button class="feedback-button">
          <div class="feedback-header">
            <div class="feedback-img-wrapper">
              <img
                class="feedback-img"
                src="img/feedback/feedback4.webp"
                alt="feedback user photo"
              />
            </div>
            <div>
              <h3 class="feedback-user">Максим Сорокін</h3>
              <div class="feedback-stars-block">
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
                <img
                  class="feedback-star"
                  src="img/feedback/feedback_star.svg"
                  alt="Зірочка"
                />
              </div>
            </div>
            <div class="feedback-arrow-wrapper">
              <img
                class="feedback-arrow"
                src="img/feedback/arrow.svg"
                alt="Стрілка"
              />
            </div>
          </div>

          <p class="feedback-text hidden-feedback" id="feedback-text-4">
            До цих курсів закінчував ще одні. Диплом отримав, а в голові якась
            каша – теоретично як стригти розумію, а на практиці не завжди
            виходив потрібний результат. Відучився тут, у голові чітко відклався
            алгоритм роботи, але найголовніше – реально «набив» руку та око.
            Тепер будь-які, навіть найнестандартніші стрижки мені не страшні.
            Після курсів мене відразу влаштували барбершоп. Я задоволений.
          </p>
        </button>
      </li>
    </ul>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_11.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_12.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_13.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_14.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_15.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_16.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_17.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_18.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_19.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
    </div>
  </div>
</section>
