<section class="feedback-section container">
  <h2 class="feedback-title">Історії і відгуки студентів</h2>
  <ul class="feedback-list">
    <li class="feedback-item">
      <div class="feedback-img-wrapper">
        <img class="feedback-img" src="img/feedback/feedback1.jpg" alt="Фото автора відгуку" />
      </div>
      <div>
        <h4>Олександр Ковальчук</h4>
        <div class="feedback-stars">
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
        </div>
      </div>

      <div class="feedback-arrow-wrapper">
        <img class="feedback-arrow" src="img/feedback/arrow.svg" alt="Стрілка" />
      </div>
    </li>
    <li class="feedback-item">
      <div class="feedback-img-wrapper">
        <img class="feedback-img" src="img/feedback/feedback2.jpg" alt="feedback user photo" />
      </div>
      <div>
        <h4>Андрій Дубровський</h4>
        <div class="feedback-stars">
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
        </div>
      </div>

      <div class="feedback-arrow-wrapper">
        <img class="feedback-arrow" src="img/feedback/arrow.svg" alt="Стрілка" />
      </div>
    </li>
    <li class="feedback-item">
      <div class="feedback-img-wrapper">
        <img class="feedback-img" src="img/feedback/feedback3.jpg" alt="feedback user photo" />
      </div>
      <div>
        <h4>Олег Панасенко</h4>
        <div class="feedback-stars">
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
        </div>
      </div>

      <div class="feedback-arrow-wrapper">
        <img class="feedback-arrow" src="img/feedback/arrow.svg" alt="Стрілка" />
      </div>
    </li>
    <li class="feedback-item">
      <div class="feedback-img-wrapper">
        <img class="feedback-img" src="img/feedback/feedback4.jpg" alt="feedback user photo" />
      </div>
      <div>
        <h4>Максим Сорокін</h4>
        <div class="feedback-stars">
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
          <img src="img/feedback/feedback_star.svg" alt="Зірочка" />
        </div>
      </div>

      <div class="feedback-arrow-wrapper">
        <img class="feedback-arrow" src="img/feedback/arrow.svg" alt="Стрілка" />
      </div>
    </li>
  </ul>
</section>