<footer class="footer-desktop">
  <div class="container footer">
    <div class="footer-container1">
      <div class="logo-footer-wrapper">
        <svg class="logo-footer-icon" alt="Логотип Барбер-сайту">
          <use href="img/symbol-defs.svg#icon-logo-mobile"></use>
        </svg>
      </div>

      <div class="footer-socials-wrapper">
        <p class="footer-socials-text">
          Підпишіться на нас у соціальних мережах
        </p>

        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://t.me/+lc3emBpT86NmZDIy"
              class="footer-social-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer-social-icon">
                <use href="img/symbol-defs.svg#footer-icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://instagram.com/barber.course1?igshid=YzAwZjE1ZTI0Zg=="
              class="footer-social-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer-social-icon">
                <use href="img/symbol-defs.svg#footer-icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-subscribe-wrapper">
        <p class="footer-subscribe-text">
          Отримуйте оновлення про Курси та Акції
        </p>
        <form id="email-form" class="footer-form" autocomplete="off">
          <label for="email">
            <input
              class="footer-form_input"
              type="email"
              name="user_email"
              required
              id="email"
              placeholder="Email"
              autocomplete="off"
            />
          </label>
          <button
            class="footer-form_btn"
            type="submit"
            value="Send"
            aria-label="Надіслати"
          >
            Надіслати
          </button>
        </form>
      </div>
    </div>

    <div class="footer-container2">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#hero">Головна </a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#story">Історія учня</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#actuality">Професія</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#author">Про автора</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#result">Результат</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#tariff">Тариф</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#program">Програма</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#contacts">Контакти</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#feedback">Відгуки</a>
        </li>
      </ul>
    </div>

    <div class="footer-container3">
      <div class="copyright-wrapper">
        <p class="copyright-text">Barber course 2023</p>
        <p class="copyright-text">© Усі права захищені</p>
      </div>
      <div class="copyright-conditions-wrapper">
        <a
          class="copyright-condition"
          href="./site-development.html"
          rel="noopener noreferrer nofollow"
          >Політика конфіденційності</a
        >
        <a
          class="copyright-condition"
          href="./site-development.html"
          rel="noopener noreferrer nofollow"
          >site development</a
        >
      </div>
    </div>
  </div>
</footer>
