<footer class="footer-desktop">
  <div class="container footer">
    <div class="footer-container1">
      <div class="logo-footer-wrapper">
        <svg class="logo-footer-icon" alt="Логотип Барбер-сайту">
          <use href="img/symbol-defs.svg#icon-logo-footer"></use>
        </svg>
      </div>

      <div class="footer-socials-wrapper">
        <p class="footer-socials-text">
          Підпишіться на нас у соціальних мережах
        </p>

        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://t.me/+lc3emBpT86NmZDIy"
              class="footer-social-link"
              aria-label="Social link "
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer-social-icon">
                <use href="img/symbol-defs.svg#footer-icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://instagram.com/barber.course1?igshid=YzAwZjE1ZTI0Zg=="
              class="footer-social-link"
              target="_blank"
              aria-label="Social link "
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer-social-icon">
                <use href="img/symbol-defs.svg#footer-icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-subscribe-wrapper">
        <p class="footer-subscribe-text">
          Отримуйте оновлення про курси та акції
        </p>
        <form id="email-form" class="footer-form" autocomplete="off">
          <label for="email">
            <input
              class="footer-form_input"
              type="email"
              name="user_email"
              required
              id="email"
              placeholder="Email"
              autocomplete="off"
            />
          </label>
          <button
            class="footer-form_btn"
            type="submit"
            value="Send"
            aria-label="Надіслати"
          >
            Надіслати
          </button>
        </form>
      </div>
    </div>

    <div class="footer-container2">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#hero" aria-label="Головна"
            >Головна</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#story" aria-label="Історія учня"
            >Історія учня</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#actuality" aria-label="Професія"
            >Професія</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#author" aria-label="Про автора"
            >Про автора</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#result" aria-label="Результат"
            >Результат</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#tariff" aria-label="Тариф">Тариф</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#program" aria-label="Програма"
            >Програма</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#contacts" aria-label="Контакти"
            >Контакти</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#feedback" aria-label="Відгуки"
            >Відгуки</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-container3">
      <div class="copyright-wrapper">
        <p class="copyright-text">Barber course 2023</p>
        <p class="copyright-text">© Усі права захищені</p>
      </div>
      <div class="copyright-privacy-policys-wrapper">
        <button
          class="copyright-privacy-policy-btn"
          type="button"
          data-modal-open
        >
          Політика конфіденційності
        </button>
        <button
          class="copyright-privacy-policy-btn"
          type="button"
          data-modal-open-dev
        >
          Site development
        </button>
      </div>
    </div>
  </div>
</footer>
