<header class="header">
  <div class="header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">Переваги</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Результат</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Про Автора</a>
        </li>

        <li class="nav-item test">
          <a href="#" class="nav-link">Тариф</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Програма</a>
        </li>
      </ul>
    </nav>

    <a href="/" class="header-logo-link">
      <svg class="header-logo-icon" alt="Logo reading 'Barber' in all caps">
        <use
          class="logo-mobile"
          width="82"
          height="18"
          href="img/symbol-defs.svg#icon-logo-mobile"
        ></use>
        <use
          class="logo-tablet"
          width="146"
          height="28"
          href="img/symbol-defs.svg#icon-logo-tablet"
        ></use>
        <use
          class="logo-desktop"
          width="152"
          height="25"
          href="img/symbol-defs.svg#icon-logo-desktop"
        ></use>
      </svg>
    </a>

    <button type="button" class="header-button">Приєднатись</button>

    <button type="button" class="burger-button">
      <svg
        class="burger-button-icon"
        alt="Burger menu icon"
        width="53"
        height="32"
      >
        <use href="img/symbol-defs.svg#icon-burger"></use>
      </svg>

      Меню
    </button>
  </div>
</header>
