<header class="header">
  <div class="header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">Переваги</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Результат</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Про Автора</a>
        </li>

        <li class="nav-item test">
          <a href="#" class="nav-link">Тариф</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Програма</a>
        </li>
      </ul>
    </nav>

    <div class="header-logo">
      <img
        class="logo-image"
        src="img/svg/logo.svg"
        alt="Logo reading 'Barber' in all caps"
      />
    </div>

    <button type="button" class="header-button">Приєднатись</button>

    <button type="button" class="burger-button">
      <img
        class="burger-button-icon"
        src="img/svg/burger.svg"
        alt="Logo reading 'Barber' in all caps"
      />

      Меню
    </button>
  </div>
</header>
