<header class="header">
  <div class="header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">Переваги</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Результат</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Про Автора</a>
        </li>

        <li class="nav-item test">
          <a href="#" class="nav-link">Тариф</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">Програма</a>
        </li>
      </ul>
    </nav>

    <a href="/" class="header-logo-link">
      <svg
        class="header-logo"
        alt="Logo reading 'Barber' in all caps"
        width="152"
        height="25"
      >
        <use href="img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>

    <button type="button" class="header-button">Приєднатись</button>

    <button type="button" class="burger-button">
      <svg
        class="burger-button-icon"
        alt="Burger menu icon"
        width="53"
        height="32"
      >
        <use href="img/symbol-defs.svg#icon-burger"></use>
      </svg>

      Меню
    </button>
  </div>
</header>
