<section class="hero" id="hero">
  <div class="hero-container brackets">
    <!--  -->
    <div class="hero-text-block">
      <p class="hero-paragraph">Офлайн-курс</p>

      <h1 class="hero-title">Барбер з нуля</h1>

      <div class="paragraph-group">
        <p class="hero-paragraph">
          Отримайте прибуткову професію усього за 4 тижні
        </p>

        <p class="hero-paragraph">Міжнародний сертифікат та працевлаштування</p>
      </div>
    </div>
    <!--  -->
    <a href="#contacts" class="hero-button">Безкоштовна консультація</a>

    <!--  -->
    <div class="hero-bottom">
      <!--  -->
      <div class="tag-group">
        <p class="tag">Старт 23.12.2023</p>

        <p class="tag">Київ</p>

        <p class="tag">offline</p>
      </div>

      <div class="small-groups-block">
        <p class="small-groups-text">
          <span>Невеликі групи</span>
          <span>до 10 студентів</span>
        </p>

        <div class="avatar-group">
          <div class="avatar-thumb">
            <img
              src="img/student-avatars/ava1.png"
              alt="Темноволосий чоловік середнього віку в окулярах"
              class="avatar-image"
            />
          </div>
          <div class="avatar-thumb">
            <img
              src="img/student-avatars/ava2.png"
              alt="Усміхнений лисий поголений молодий чоловік"
              class="avatar-image"
            />
          </div>
          <div class="avatar-thumb">
            <img
              src="img/student-avatars/ava3.png"
              alt="Усміхнений бородатий чоловік з татуюванням на шиї"
              class="avatar-image"
            />
          </div>
        </div>
      </div>
      <!--  -->
    </div>
    <!--  -->
  </div>
</section>
