<section class="hero">
  <div class="hero-container">
    <div class="hero-main">
      <p class="hero-text">Офлайн-курс</p>

      <h1 class="hero-title">Барбер з нуля</h1>

      <div class="paragraph-group">
        <p class="hero-text">Отримайте прибуткову професію всього за 4 тижні</p>
        <p class="hero-text">Міжнародний сертифікат і працевлаштування</p>
      </div>
    </div>

    <div class="hero-bottom">
      <div class="tag-wrapper">
        <div class="tag-group">
          <p class="tag">Старт 23.12.2023</p>

          <p class="tag">Київ</p>

          <p class="tag">offline</p>
        </div>

        <div class="small-groups">
          <p>Невеликі групи до 10 студентів</p>
        </div>
      </div>

      <button type="button" class="hero-button">
        Безкоштовна консультація
      </button>
    </div>
  </div>
</section>
s
