<!--Mobile-menu -->
<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">

    <!-- Mobile menu close button -->
    <button type="button" class="burger-button mobile-menu-button" aria-label="Кнопка закриття мобільного меню"
      data-menu-close-button>
      <svg class="burger-button-icon" alt="Бургер-меню" width="53" height="32">
        <use href="img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <!-- Form -->
    <!-- prettier-ignore -->
    <load ="partials/contacts-form.html" />

    <!-- Mobile menu navigation buttons -->
    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a href="./index.html" class="mobile-nav-link" js-close-on-click>Головна</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#preference" class="mobile-nav-link" js-close-on-click>Переваги</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#result" class="mobile-nav-link" js-close-on-click>Результат</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#program" class="mobile-nav-link" js-close-on-click>Програма</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#author" class="mobile-nav-link" js-close-on-click>Автор Курсу</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#feedback" class="mobile-nav-link" js-close-on-click>Відгуки</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#bonuses" class="mobile-nav-link" js-close-on-click>Бонуси</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#tariff" class="mobile-nav-link" js-close-on-click>Тариф</a>
        </li>
      </ul>
    </nav>
  </div>
</div>