<!--Mobile-menu -->
<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">

    <!-- Mobile menu close button -->
    <button type="button" class="burger-button mobile-menu-button" aria-label="Кнопка закриття мобільного меню" data-menu-close-button>
      <svg class="burger-button-icon" alt="Бургер-меню" width="53" height="32">
        <use href="img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <!-- Form -->
    <!-- prettier-ignore -->
    <load ="partials/contacts-form.html" />

    <!-- Mobile menu navigation buttons -->
    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Головна</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Переваги</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Результат</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Програма</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Автор Курсу</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Відгуки</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Бонуси</a>
        </li>

        <li class="mobile-nav-item">
          <a href="#" class="mobile-nav-link">Тариф</a>
        </li>
      </ul>
    </nav>
  </div>
</div>