<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="button-close" type="button" data-modal-close>Закрити</button>

    <strong class="modal__title">Політика конфіденційності</strong>

    <div>
      <p class="condition-title">
        Ця Політика конфіденційності (надалі – Політика) визначає порядок
        отримання, зберігання, обробки, використання і передачі персональних та
        інших даних, які надаються Користувачем при використанні сайту
        https://barber-course.netlify.app/
      </p>
      <p class="condition-title">
        1. Збір персональних даних та іншої інформації.
      </p>
      <p class="condition-title">
        1.1 Під час використання сайту може збиратися така інформація про
        Користувача: • ім’я ; • номер телефону; • електронна пошта;
      </p>
      <p class="condition-title">
        1.2 Окрім вказаної вище інформації також може збиратися інформація,
        отримана під час використання сайту: • файли Cookies; • IP-адреса
        Користувача; • поведінка Користувача на Сайті;
      </p>
      <p class="condition-title">
        1.3 Інформація, яку ви надаєте на сайті, або яка може збиратися в
        процесі використання Сайту, охороняється Законом України «Про захист
        персональних даних».
      </p>
      <p class="condition-title">
        1.4 Ви повинні повною мірою усвідомлювати, що даєте згоду на збір,
        використання та передачу персональних даних відповідно до положень та
        умов, викладених у цій Політиці.
      </p>
      <p class="condition-title">
        1.5 Сайт не призначений для дітей молодше 18 років. Ми не збираємо
        інформацію у відвідувачів, які входять в цю вікову групу.
      </p>
      <p class="condition-title">
        2. Мета обробки та строки зберігання персональних даних.
      </p>
      <p class="condition-title">
        2.1 Ми збираємо інформацію про ім’я, адресу електронної пошти номер
        телефону з метою організації та реалізації співпраці між нами, а саме
        для надання навчання. Така інформація зберігається протягом трьох років
        з моменту оформлення останнього замовлення на сайті.
      </p>
      <p class="condition-title">
        2.2 Збирає інформації про електронну пошту та номер Вашого телефону для
        обміну інформацією з Вами, в тому числі для надсилання інформації
        рекламного характеру про діяльність. Така інформація зберігається
        протягом трьох років з моменту оформлення останнього замовлення на
        сайті.
      </p>
      <p class="condition-title">
        2.3 Інформація про файли Cookies, IP-адресу Користувача, поведінку
        Користувача на Сайті збирається для адаптації маркетингових і рекламних
        заходів, що пропонується на Сайті або сервісах третіх осіб, та контролю
        загальної та індивідуальної активності Користувачів. Така інформація
        зберігається протягом трьох років з моменту оформлення останнього
        замовлення на сайті.
      </p>
      <p class="condition-title">
        2.4 Ми не збираємо та не зберігаємо Ваші платіжні дані. Така інформація
        може збиратися та зберігатися банками-партнерами відповідно до їх
        внутрішніх правил.
      </p>
      <p class="condition-title">
        2.5 Окрім вказаного вище ми можемо використовувати отриману інформацію з
        такою метою:
      </p>
      <p class="condition-title">
        2.5.1 Для моніторингу трафіку, з якого Ви отримуєте доступ до сайту;
        типу браузера і операційної системи, які використовуються для доступу до
        сайту; дати і часу вашого доступу до сайту; сторінок, які ви відвідуєте,
        і інтернет-адреси сайту, з якого ви отримали доступ до нашого сайту.
      </p>
      <p class="condition-title">
        2.5.2 Для впізнання повторних відвідувачів (для аналітичної/статистичної
        мети).
      </p>
      <p class="condition-title">
        2.5.3 Для анонімного відстеження взаємодії з інтернет-рекламою (для
        спостереження за кількістю відображень і кліків на рекламні банери).
      </p>
      <p class="condition-title">
        2.5.4 Для налаштування або персоналізації вашої роботи (наприклад,
        привітання на сайті по імені).
      </p>
      <p class="condition-title">3. Права користувачів.</p>
      <p class="condition-title">
        3.1 Користувачі користуються усіма правами, передбаченими Законом
        України «Про захист персональних даних», в тому числі:
      </p>
      <p class="condition-title">
        3.1.1 знати мету обробки персональних даних, джерела їх збирання та
        місцезнаходження персональних даних. 3.1.2 на доступ до своїх
        персональних даних.
      </p>

      <p class="condition-title">
        3.1.3 відмовитись від обробки своїх персональних даних або заборонити
        обробляти свої персональні дані;
      </p>
      <p class="condition-title">
        3.1.4 просити змінити свої персональні дані;
      </p>
      <p class="condition-title">
        3.1.5 відкликати згоду на обробку своїх персональних даних;
      </p>
      <p class="condition-title">
        3.1.6 відмовитись від отримання матеріалів рекламного характеру.
      </p>
      <p class="condition-title">
        3.2 Для реалізації своїх прав Ви можете направити електронного листа на
        адресу електронної пошти: kursbarber@gmail.com Ми розглянемо Ваше
        звернення протягом 10 днів з моменту отримання.
      </p>
      <p class="condition-title">4. Передача персональних даних.</p>

      <p class="condition-title">
        4.1 Персональні дані, розміщені на сайті, не надаються третім особам, за
        винятком таких випадків:
      </p>

      <p class="condition-title">
        4.1.1 Після отримання згоди Користувача, до якого належить ця
        інформація.
      </p>
      <p class="condition-title">
        4.1.2 За обґрунтованим запитом державних органів, які мають право
        отримувати такі дані.
      </p>
      <p class="condition-title">4.1.3 Для захисту та охорони прав Продавця.</p>
      <p class="condition-title">
        4.1.4 Для забезпечення безпеки користувачів сайту.
      </p>
      <p class="condition-title">
        4.2 Ми можемо надавати Ваші знеособлені персональні дані (такі, що не
        дають змоги Вас ідентифікувати) третім особам.
      </p>

      <p class="condition-title">
        4.3 У всіх інших випадках перед тим, як передати інформацію про вас
        третім особам, ми зобов'язуємось отримати Вашу згоду.
      </p>
      <p class="condition-title">
        4.4 Персональні дані можуть передаватися компаніям, що працюють від
        нашої особи. Ми співпрацюємо з іншими компаніями, які виконують від
        нашої особи функції бізнес-підтримки, у зв'язку з чим ваша особиста
        інформація може бути частково розкрита. Ми вимагаємо, щоб такі компанії
        використовували інформацію тільки з метою надання послуг за договором;
        їм забороняється передавати цю інформацію іншим сторонам в ситуаціях,
        відмінних від випадків, коли це обумовлено необхідністю надання
        обумовлених послуг.
      </p>
      <p class="condition-title">
        4.5 Персональні дані можуть використовуватися на сторінках, які
        позиціонуються як загальні, і партнерських сторінках.
      </p>

      <p class="condition-title">5. Інші веб сайти.</p>
      <p class="condition-title">
        5.1 На сторінках сайту можуть міститися посилання на веб-сайти третіх
        осіб. Ми не здійснюємо управління і не несемо відповідальності за зміст.
      </p>
      <p class="condition-title">
        5.2 Ми настійно рекомендуємо вам ознайомитися з методами забезпечення
        конфіденційності на подібних сайтах третіх осіб.
      </p>
      <p class="condition-title">6. Антиспам-політика.</p>
      <p class="condition-title">
        6.1 Для нас спам неприйнятний, ми не відправляємо листи кому-небудь без
        дозволу, ми не продаємо і не здаємо в оренду адреси електронної пошти
        неуповноваженим третім особам. Це не означає, що ми можемо попередити
        появу спаму в Інтернеті. Якщо ви вважаєте, що отримали від нас небажану
        пошту, будь ласка, зв'яжіться з нами.
      </p>
      <p class="condition-title">7. Безпека.</p>
      <p class="condition-title">
        7.1 Ми використовуємо сучасні технології забезпечення конфіденційності
        персональних даних, отриманих з реєстраційних форм, які залишають
        Користувачі, з метою забезпечення максимального захисту інформації.
      </p>
      <p class="condition-title">
        7.2 Доступ до особистої інформації користувача здійснюється через
        систему авторизації з логіном і паролем. Користувач зобов'язується
        самостійно забезпечити збереження авторизованих даних, ні під яким
        приводом не розголошувати їх третім особам. Будь-які зміни особистої
        інформації, внесені шляхом авторизаційних даних, будуть вважатися
        здійсненими особисто Користувачем.
      </p>
      <p class="condition-title">
        7.3 Збір, зберігання, використання, обробка, розголошення інформації,
        отриманої нами за результатами відвідування приватною особою
        (відвідувачем або користувачем) її сайту та/або заповнення реєстраційних
        форм, у тому числі і персональні дані користувачів, здійснюються
        відповідно до чинного законодавства України. Фізична особа (відвідувач
        або користувач) усвідомлює і дає згоду на збір і обробку своїх
        персональних даних в межах і з метою, передбаченими умовами цієї
        Політики відповідно до чинного законодавства України.
      </p>
      <p class="condition-title">8. Прикінцеві положення.</p>
      <p class="condition-title">
        8.1 Відвідуючи сторінки сайту та/або заповнюючи форму реєстрації на
        сайті, Користувач автоматично приймає умови цієї Політики.
      </p>
      <p class="condition-title">
        8.2 Діяльність Підприємця здійснюється відповідно до чинного
        законодавства України. Будь-які претензії, спори, офіційні звернення
        розглядатимуться виключно в порядку, передбаченому чинним законодавством
        України.
      </p>
      <p class="condition-title">
        8.3 Ми не несемо відповідальності за будь-який прямий або непрямий
        збиток, понесений Користувачем або третіми особами, а також за
        недоотриманий прибуток в результаті діяльності сайту.
      </p>
      <p class="condition-title">
        8.4 Політика конфіденційності набирає чинності з моменту її публікації.
        Ваше подальше використання Сайту свідчить про вашу згоду з умовами
        Політики конфіденційності.
      </p>
    </div>
  </div>
</div>
