<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="button-close" aria-label="Кнопка закриття мобільного меню" data-modal-close>
      <svg class="button-close-icon" width="24" height="24">
        <use href="/img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal__title">Політика конфіденційності</h2>

    <div class="privacy-policy-text-wrapper">
      <p class="privacy-policy-text">
        Ця Політика конфіденційності (надалі "Політика") визначає порядок
        отримання, зберігання, обробки, використання і передачі персональних та
        інших даних, які надаються Користувачем при використанні сайту
        <span class="site-name" data-insert-site-name>Barber Course</span>
      </p>

      <!-- Section 1 -->
      <h3 class="privacy-policy-anchor">
        Збір персональних даних та іншої інформації.
      </h3>

      <ol class="subitems-level-one">
        <li id="1.1">
          Під час використання сайту може збиратися така інформація про
          Користувача:

          <ul>
            <li>ім’я;</li>
            <li>номер телефону;</li>
            <li>електронна пошта</li>
          </ul>
        </li>

        <li id="1.2">
          Окрім вказаної вище інформації також може збиратися інформація,
          отримана під час використання сайту:
          <ul>
            <li>файли Cookies;</li>
            <li>IP-адреса Користувача;</li>
            <li>поведінка Користувача на Сайті.</li>
          </ul>
        </li>

        <li id="1.3">
          Інформація, яку ви надаєте на сайті, або яка може збиратися в процесі
          використання Сайту, охороняється Законом України «Про захист
          персональних даних».
        </li>

        <li id="1.4">
          Ви повинні повною мірою усвідомлювати, що даєте згоду на збір,
          використання та передачу персональних даних відповідно до положень та
          умов, викладених у цій Політиці.
        </li>

        <li id="1.5">
          Сайт не призначений для дітей молодше 18 років. Ми не збираємо
          інформацію у відвідувачів, які входять в цю вікову групу.
        </li>
      </ol>

      <!-- Section 2  -->
      <h3 class="privacy-policy-anchor">
        Мета обробки та строки зберігання персональних даних.
      </h3>

      <ol class="subitems-level-one">
        <li id="2.1">
          Ми збираємо інформацію про ім’я, адресу електронної пошти номер
          телефону з метою організації та реалізації співпраці між нами, а саме
          для надання навчання. Така інформація зберігається протягом трьох
          років з моменту оформлення останнього замовлення на сайті.
        </li>

        <li id="2.2">
          Збирає інформації про електронну пошту та номер Вашого телефону
          для обміну інформацією з Вами, в тому числі для надсилання інформації
          рекламного характеру про діяльність. Така інформація зберігається
          протягом трьох років з моменту оформлення останнього замовлення на
          сайті.
        </li>

        <li id="2.3">
          Інформація про файли Cookies, IP-адресу Користувача, поведінку
          Користувача на Сайті збирається для адаптації маркетингових і
          рекламних заходів, що пропонується на Сайті або сервісах третіх осіб,
          та контролю загальної та індивідуальної активності Користувачів. Така
          інформація зберігається протягом трьох років з моменту оформлення
          останнього замовлення на сайті.
        </li>

        <li id="2.4">
          Ми не збираємо та не зберігаємо Ваші платіжні дані. Така
          інформація може збиратися та зберігатися банками-партнерами відповідно
          до їх внутрішніх правил.
        </li>

        <li id="2.5">
          Окрім вказаного вище ми можемо використовувати отриману інформацію
          з такою метою:

          <ul class="subitems-level-two">
          <li id="2.5.1">
            Для моніторингу трафіку, з якого Ви отримуєте доступ до сайту;
            типу браузера і операційної системи, які використовуються для доступу
            до сайту; дати і часу вашого доступу до сайту; сторінок, які ви
            відвідуєте, і інтернет-адреси сайту, з якого ви отримали доступ до
            нашого сайту.
          </li>

          <li id="2.5.2">
            Для впізнання повторних відвідувачів (для
            аналітичної/статистичної мети).
          </li>

          <li id="2.5.3">
            Для анонімного відстеження взаємодії з інтернет-рекламою (для
            спостереження за кількістю відображень і кліків на рекламні банери).
          </li>

          <li id="2.5.4">
            Для налаштування або персоналізації вашої роботи (наприклад,
            привітання на сайті по імені).
          </li>
        </ul>
        </li>

        
      </ol>

      <!-- Section 3  -->
      <h3 class="privacy-policy-anchor">Права користувачів.</li>

        <ol class="subitems-level-one">
          <li id="3.1">
            Користувачі користуються усіма правами, передбаченими Законом
            України «Про захист персональних даних», в тому числі:

            <ul class="subitems-level-two">
            <li id="3.1.1">
              знати мету обробки персональних даних, джерела їх збирання та
              місцезнаходження персональних даних. 3.1.2 на доступ до своїх
              персональних даних.
            </li>
            <li id="3.1.2">
              відмовитись від обробки своїх персональних даних або заборонити
              обробляти свої персональні дані;
            </li>
            <li id="3.1.4">просити змінити свої персональні дані;</li>
            <li id="3.1.5">відкликати згоду на обробку своїх персональних даних;</li>
            <li id="3.1.6">відмовитись від отримання матеріалів рекламного характеру.</li>
          </ul>
          </li>

          

          <li id="3.2">
            Для реалізації своїх прав Ви можете направити електронного листа на
            адресу електронної пошти: kursbarber@gmail.com Ми розглянемо Ваше
            звернення протягом 10 днів з моменту отримання.
          </li>
        </ol>

        <!-- Section 4  -->
        <h3 class="privacy-policy-anchor">Передача персональних даних</h3>

        <ol class="subitems-level-one">
          <li id="4.1">
            Персональні дані, розміщені на сайті, не надаються третім особам, за
            винятком таких випадків:

            <ul class="subitems-level-two">
            <li id="4.1.1">
              Після отримання згоди Користувача, до якого належить ця
              інформація.
            </li>
            <li id="4.1.2">
              За обґрунтованим запитом державних органів, які мають право
              отримувати такі дані.
            </li>
            <li id="4.1.3">Для захисту та охорони прав Продавця.</li>
            <li id="4.1.4"> Для забезпечення безпеки користувачів сайту.</li>
          </ul>
          </li>

          <li id="4.2">
            Ми можемо надавати Ваші знеособлені персональні дані (такі, що не
            дають змоги Вас ідентифікувати) третім особам.
          </li>

          <li id="4.3">
            У всіх інших випадках перед тим, як передати інформацію про вас
            третім особам, ми зобов'язуємось отримати Вашу згоду.
          </li>

          <li id="4.4">
            Персональні дані можуть передаватися компаніям, що працюють від
            нашої особи. Ми співпрацюємо з іншими компаніями, які виконують від
            нашої особи функції бізнес-підтримки, у зв'язку з чим ваша особиста
            інформація може бути частково розкрита. Ми вимагаємо, щоб такі компанії
            використовували інформацію тільки з метою надання послуг за договором;
            їм забороняється передавати цю інформацію іншим сторонам в ситуаціях,
            відмінних від випадків, коли це обумовлено необхідністю надання
            обумовлених послуг.
          </li>

          <li id="4.5">
            Персональні дані можуть використовуватися на сторінках, які
            позиціонуються як загальні, і партнерських сторінках.
          </li>
        </ol>

        <!-- Section 5  -->
        <h3 class="privacy-policy-anchor">Інші веб сайти.</h3>

        <ol class="subitems-level-one">
          <li id="5.1">
            На сторінках сайту можуть міститися посилання на веб-сайти третіх
            осіб. Ми не здійснюємо управління і не несемо відповідальності за зміст.
          </li>

          <li id="5.2">
            Ми настійно рекомендуємо вам ознайомитися з методами забезпечення
            конфіденційності на подібних сайтах третіх осіб.
          </li>
        </ol>

        <!-- Section 6  -->
        <h3 class="privacy-policy-anchor">Антиспам-політика</li>

          <ol class="subitems-level-one">
            <li id="6.1">
              Для нас спам є неприйнятним, ми не відправляємо листи будь-кому без
              дозволу, не продаємо і не здаємо в оренду адреси електронної пошти
              неуповноваженим третім особам. Це не означає, що ми можемо попередити
              появу спаму в Інтернеті. Якщо ви вважаєте, що отримали від нас небажану
              пошту, будь ласка, зв'яжіться з нами.
            </li>
          </ol>

          <!-- Section 7  -->
          <h3 class="privacy-policy-anchor">Безпека.</h3>

          <ol class="subitems-level-one">
            <li id="7.1">
              Ми використовуємо сучасні технології забезпечення конфіденційності
              персональних даних, отриманих з реєстраційних форм, які залишають
              Користувачі, з метою забезпечення максимального захисту інформації.
            </li>

            <li id="7.2">
              Доступ до особистої інформації користувача здійснюється через
              систему авторизації з логіном і паролем. Користувач зобов'язується
              самостійно забезпечити збереження авторизованих даних, ні під яким
              приводом не розголошувати їх третім особам. Будь-які зміни особистої
              інформації, внесені шляхом авторизаційних даних, будуть вважатися
              здійсненими особисто Користувачем.
            </li>

            <li id="7.3">
              Збір, зберігання, використання, обробка, розголошення інформації,
              отриманої нами за результатами відвідування приватною особою
              (відвідувачем або користувачем) її сайту та/або заповнення реєстраційних
              форм, у тому числі і персональні дані користувачів, здійснюються
              відповідно до чинного законодавства України. Фізична особа (відвідувач
              або користувач) усвідомлює і дає згоду на збір і обробку своїх
              персональних даних в межах і з метою, передбаченими умовами цієї
              Політики відповідно до чинного законодавства України.
            </li>
          </ol>

          <!-- Section 8  -->
          <h3 class="privacy-policy-anchor">Прикінцеві положення.</h3>
          
          <ol class="subitems-level-one">
            <li id="8.1">
              Відвідуючи сторінки сайту та/або заповнюючи форму реєстрації на
              сайті, Користувач автоматично приймає умови цієї Політики.
            </li>

            <li id="8.2">
              Діяльність Підприємця здійснюється відповідно до чинного
              законодавства України. Будь-які претензії, спори, офіційні звернення
              розглядатимуться виключно в порядку, передбаченому чинним законодавством
              України.
            </li>

            <li id="8.3">
              Ми не несемо відповідальності за будь-який прямий або непрямий
              збиток, понесений Користувачем або третіми особами, а також за
              недоотриманий прибуток в результаті діяльності сайту.
            </li>

            <li id="8.4">
              Політика конфіденційності набирає чинності з моменту її публікації.
              Ваше подальше використання Сайту свідчить про вашу згоду з умовами
              Політики конфіденційності.
            </li>
          </ol>
    </div>
  </div>
</div>