<div class="backdrop-dev is-hidden" data-modal-dev>
  <div class="modal-dev">
    <button class="button-close-dev" type="button" data-modal-close-dev>
      <svg class="button-close-icon" width="24" height="24">
        <use href="/img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <strong class="modal__title">Дизайн </strong>
    <a
      class="modal-dev-link"
      href=" https://instagram.com/websites.ua?igshid=YzAwZjE1ZTI0Zg=="
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      websites.ua</a
    >

    <strong class="modal__title">Команда розробників сайту</strong>
    <ul>
      <li>
        <a
          class="modal-dev-link"
          href="https://www.linkedin.com/in/yura-buchak"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Yurii Buchak</a
        >
      </li>
      <li>
        <a
          class="modal-dev-link"
          href="https://www.linkedin.com/in/vitaliy-korostylov"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Vitaliy Korostylov</a
        >
      </li>
      <li>
        <a
          class="modal-dev-link"
          href="https://www.linkedin.com/in/diuzhenko"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Mykhailo Diuzhenko</a
        >
      </li>
    </ul>
  </div>
</div>
