<section class="container preference">
  <h2 class="preference_title">
    Заробляйте від 40000 гривень<br />
    в місяць на початку своєї карʼєри
  </h2>
  <p class="preference_description">
    за 4 тижні інтенсивного навчання ви станете професійним <br />
    барбером починаючи з абсолютного нуля
  </p>

  <ul class="preference_list_number">
    <li class="preference_item preference_item_number">
      <h3 class="preference_item_title">120+</h3>
      <p class="preference_item_description">Годин об’єм матеріалу</p>
    </li>
    <li class="preference_item preference_item_number">
      <h3 class="preference_item_title">80%</h3>
      <p class="preference_item_description">Практичних занять</p>
    </li>
    <li class="preference_item preference_item_number">
      <h3 class="preference_item_title">30+</h3>
      <p class="preference_item_description">Стрижок на манекенах і моделях</p>
    </li>
  </ul>

  <ul class="preference_list_text">
    <li class="preference_item preference_offline">
      <h3 class="preference_item_title">offline</h3>
      <p class="preference_item_description">
        Академія розташована в ЖК Нова Англія, метро Васильківська
      </p>
    </li>
    <li class="preference_item preference_location">
      <h3 class="preference_item_title">київ</h3>
      <p class="preference_item_description">Локація</p>
    </li>
  </ul>
</section>
