<section class="preference" id="preference">
  <div class="container">
    <h2 class="preference_title">
      Заробляйте від 40000 гривень<br />
      в місяць на початку своєї карʼєри
    </h2>
    <p class="preference_description">
      за 4 тижні інтенсивного навчання ви станете професійним <br />
      барбером починаючи з абсолютного нуля
    </p>
    <p class="preference_description_mobile">
      Станьте професійним барбером починаючи з абсолютного нуля
    </p>

    <ul class="preference_list">
      <li class="preference_item preference_item1">
        <h3 class="preference_item_title">120+</h3>
        <p class="preference_item_description">Годин об’єм матеріалу</p>
      </li>
      <li class="preference_item preference_item2">
        <h3 class="preference_item_title">80%</h3>
        <p class="preference_item_description">Практичних занять</p>
      </li>
      <li class="preference_item preference_item3">
        <h3 class="preference_item_title">30+</h3>
        <p class="preference_item_description">
          Стрижок на манекенах і моделях
        </p>
      </li>
      <li class="preference_item preference_item4">
        <h3 class="preference_item_title">offline</h3>
        <p class="preference_item_description">
          ЖК Кришталеві Джерела, метро Теремки
        </p>
      </li>
      <li class="preference_item preference_item5">
        <h3 class="preference_item_title">київ</h3>
        <p class="preference_item_description">Локація</p>
      </li>
    </ul>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_1.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_2.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_3.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_4.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_5.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_6.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_7.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_8.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_9.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_10.webp"
          alt="Фото барбера за роботою в галереї"
        />
      </div>
    </div>
  </div>
</section>
