<section class="preference" id="preference">
  <div class="container">
    <h2 class="preference_title">
      Заробляйте від 40000 гривень<br />
      на місяць на початку своєї карʼєри
    </h2>
    <p class="preference_description">
      Почавши з абсолютного нуля, за 4 тижні інтенсивного навчання ви станете
      професійним барбером
    </p>
    <p class="preference_description_mobile">
      Станьте професійним барбером, почавши з абсолютного нуля
    </p>

    <ul class="preference_list">
      <li class="preference_item preference_item1">
        <h3 class="preference_item_title">120+</h3>
        <p class="preference_item_description">годин матеріалу</p>
      </li>
      <li class="preference_item preference_item2">
        <h3 class="preference_item_title">80%</h3>
        <p class="preference_item_description">практичних занять</p>
      </li>
      <li class="preference_item preference_item3">
        <h3 class="preference_item_title">30+</h3>
        <p class="preference_item_description">
          стрижок на манекенах та моделях
        </p>
      </li>
      <li class="preference_item preference_item4">
        <h3 class="preference_item_title">offline</h3>
        <p class="preference_item_description">
          ЖК Кришталеві Джерела, метро Теремки
        </p>
      </li>
      <li class="preference_item preference_item5">
        <h3 class="preference_item_title">Київ</h3>
        <p class="preference_item_description">локація</p>
      </li>
    </ul>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_1.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_2.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_3.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_4.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_5.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_6.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_7.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_8.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_9.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/webp/slider_img_10.webp"
          width="600"
          height="600"
          alt="Барбер за роботою (елемент галереї зображень)"
        />
      </div>
    </div>
  </div>
</section>
