<section class="program">
  <div class="program-container">
    <div class="program-header">
      <h2 class="program-title">Детальна програма</h2>

      <ul class="time-card-list">
        <li class="time-card">
          <p class="number">4</p>
          <p class="time-span">тижні</p>
        </li>

        <li class="time-card">
          <p class="number">20</p>
          <p class="time-span">днів</p>
        </li>

        <li class="time-card">
          <p class="number">120</p>
          <p class="time-span">годин</p>
        </li>
      </ul>
    </div>

    <div class="syllabus-wrapper">
      <div class="syllabus-card"></div>
    </div>
  </div>
</section>
