<section class="container progress-container">
  <div
    class="progress-wrapper"
    role="progressbar"
    title="Number of vacant places"
    aria-valuenow="70"
  >
    <p class="progress-description">
      Залишилось вільних місць:
      <span class="progress-description_span">3 шт</span>
    </p>
    <div class="progress-bar">
      <div class="progress-value_wrapper">
        <p class="progress-value">7</p>
      </div>
      <div class="progress-max_wrapper">
        <p class="progress-max">10</p>
      </div>
    </div>
  </div>

  <a href="#contacts" class="progress-button">
    <svg class="icon-lock">
      <use href="img/symbol-defs.svg#icon-lock"></use>
    </svg>
    Забронювати своє місце
  </a>

  <div class="progress-razors_wrapper">
    <div class="progress-img_wrapper">
      <img
        class="progress-img"
        src="img/progress-section/razors.png"
        alt="razors"
      />
    </div>
    <div class="progress-razors_text-wrapper">
      <p class="progress-razors_text">
        Доступ до 20 днів навчання в академії + отримайте бонуси
      </p>
    </div>
  </div>
</section>
