<section class="program">
  <div class="program-container">
    <div class="program-header">
      <h2 class="program-title">Детальна програма</h2>

      <p class="program-description">
        Курс побудований на максимально ефективній теорії і практиці, у комфортній та невимушеній обстановці. Атмосфера
        обговорення і позитивний настрій сприяють успішному навчанню.
      </p>

      <div class="program-duration-block">
        <p class="program-duration-total">Усього</p>

        <ul class="program-duration">
          <li class="program-duration-item">
            <p class="number">4</p>
            <p class="time-span">тижні</p>
          </li>

          <li class="program-duration-item">
            <p class="number">20</p>
            <p class="time-span">днів</p>
          </li>

          <li class="program-duration-item">
            <p class="number">120</p>
            <p class="time-span">годин</p>
          </li>
        </ul>
      </div>
    </div>

    <ul class="syllabus">
      <li class="syllabus-item">
        <article class="syllabus-card">
          <div class="syllabus-card-description">
            <p class="week">
              <span>02</span>
              <span>Тиждень</span>
            </p>

            <div class="group-one">
              <div class="group-two">
                <h3 class="syllabus-card-title-tablet">Тиждень інтенсивної практики на манекенах + теорія</h3>

                <ul class="hours-distribution">
                  <li class="hours-distribution-item">
                    <svg class="hours-distribution-icon">
                      <use href="img/symbol-defs.svg#icon-theory"></use>
                    </svg>

                    <p class="hours-distribution-text">
                      <span class="theory-hour-count">10</span>
                      <span>годин теорії</span>
                    </p>
                  </li>

                  <li class="hours-distribution-item">
                    <svg class="hours-distribution-icon">
                      <use href="img/symbol-defs.svg#icon-practice"></use>
                    </svg>

                    <p class="hours-distribution-text">
                      <span class="practice-hour-count">17</span>
                      <span>годин практики</span>
                    </p>
                  </li>
                </ul>
              </div>


              <button type="button" class="details-toggle-button">більше</button>

              <svg class="syllabus-card-expand-icon">
                <use href="img/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </div>

          </div>

          <div class="syllabus-card-details">
            <h3 class="syllabus-card-title-mobile">Інтенсивна практика на манекенах + теорія</h3>

            <div class="training-blocks-wrapper">
              <div class="theory-block">
                <h4 class="training-block-title">Теорія</h4>
                <ul class="training-block-items">
                  <li class="training-block-item">Всі види форм</li>
                  <li class="training-block-item">Техніка стрижки</li>
                </ul>
              </div>

              <div class="practice-block">
                <h4 class="training-block-title">Практика</h4>
                <ul class="training-block-items">
                  <li class="training-block-item">Повтор 1 тижня</li>
                  <li class="training-block-item">Стрижка кругла форма</li>
                </ul>
              </div>
            </div>

            <div class="expected-results">
              <h4 class="expected-results-title">Ваш результат:</h4>

              <ul class="expected-results-list">
                <li class="expected-results-item">
                  <p>На 2-му тижні навчання ви вивчите Все про подовжені дизайни та їх форми.</p>
                </li>

                <li class="expected-results-item">
                  <p> Отримаєте практику стрижок подовжених дизайнів.
                  </p>
                </li>
              </ul>
            </div>

          </div>
        </article>
      </li>
    </ul>
</section>