<section class="program" id="program">
  <div class="program-container">

    <!-- Title and duration -->
    <div class="program-header">
      <h2 class="program-title">Детальна програма</h2>

      <p class="program-description">
        Курс побудований на максимально ефективній теорії і практиці, у комфортній та невимушеній обстановці. Атмосфера
        обговорення і позитивний настрій сприяють успішному навчанню.
      </p>

      <div class="program-duration-block">
        <p class="program-duration-total">Усього</p>

        <ul class="program-duration">
          <li class="program-duration-item">
            <p class="number">4</p>
            <p class="time-span">тижні</p>
          </li>

          <li class="program-duration-item">
            <p class="number">20</p>
            <p class="time-span">днів</p>
          </li>

          <li class="program-duration-item">
            <p class="number">120</p>
            <p class="time-span">годин</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Syllabus (list of cards) -->
    <div id="syllabus-rendering-container">
      <!-- List items are rendered with JavaScript -->
    </div>


  </div>
</section>