<section class="swiper-section">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_1.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_2.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_3.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_4.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_5.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_6.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_7.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_8.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_9.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_10.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_11.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_12.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_13.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_14.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_15.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_16.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_17.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_18.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_19.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_20.jpg"
          alt="slider image of barbers"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-image"
          src="img/slider/slider_img_21.jpg"
          alt="slider image of barbers"
        />
      </div>
    </div>
  </div>
</section>
