<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img1_org.jpg"
        alt="slider image 1"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img2_org.jpg"
        alt="slider image 2"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img3_org.jpg"
        alt="slider image 3"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img4_org.jpg"
        alt="slider image 4"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img5_org.jpg"
        alt="slider image 5"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img6_org.jpg"
        alt="slider image 6"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img7_org.jpg"
        alt="slider image 7"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img8_org.jpg"
        alt="slider image 8"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img9_org.jpg"
        alt="slider image 9"
      />
    </div>
    <div class="swiper-slide">
      <img
        class="swiper-image"
        src="../img//slider/slider_img10_org.jpg"
        alt="slider image 10"
      />
    </div>
  </div>
</div>
