<section class="container success-story">
  <ul class="success-story_list">
    <li class="success-story_item">
      <div class="success-story_info_wrapper">
        <div class="success-story_img_wrapper">
          <img
            class="success-story_img"
            src="img/success-story/success-story-1.webp"
            alt="work process"
          />
        </div>
        <div class="success-story_description_wrapper">
          <p class="success-story_description">Знайомтесь: Це Вадим.</p>
          <p class="success-story_description accent--description">
            Пройшло 7 місяців як він закінчив курс барбера
          </p>
        </div>
      </div>

      <div class="success-story_svg_wrapper icon-arrow-right">
        <svg class="success-story_icon-arrow" width="400" height="124">
          <use href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </li>

    <li class="success-story_item">
      <div class="success-story_info_wrapper">
        <div class="success-story_img_wrapper">
          <img
            class="success-story_img"
            src="img/success-story/success-story-2.webp"
            alt="work process"
          />
        </div>

        <div class="success-story_description_wrapper">
          <p class="success-story_description">
            За 4 тижні навчання він освоїв професію на максимум
          </p>
        </div>
      </div>

      <div class="success-story_svg_wrapper icon-arrow-left">
        <svg class="success-story_icon-arrow" width="400" height="124">
          <use href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
    </li>

    <li class="success-story_item">
      <div class="success-story_info_wrapper">
        <div class="success-story_img_wrapper">
          <img
            class="success-story_img"
            src="img/success-story/success-story-3.webp"
            alt="work process"
          />
        </div>
        <div class="success-story_description_wrapper">
          <p class="success-story_description">
            Влаштувався в барбершоп до його наставника, автора курсу Віталія
          </p>
        </div>
      </div>

      <div class="success-story_svg_wrapper icon-arrow-right">
        <svg class="success-story_icon-arrow" width="400" height="124">
          <use href="img/symbol-defs.svg#icon-arrow-right "></use>
        </svg>
      </div>
    </li>

    <li class="success-story_item">
      <div class="success-story_info_wrapper">
        <div class="success-story_img_wrapper">
          <img
            class="success-story_img"
            src="img/success-story/success-story-4.webp"
            alt="work process"
          />
        </div>

        <div class="success-story_description_wrapper">
          <p class="success-story_description">
            Зараз Вадим старший барбер і керуючий барбершопом
          </p>
        </div>
      </div>

      <div class="success-story_svg_wrapper icon-arrow-left">
        <svg class="success-story_icon-arrow" width="400" height="124">
          <use href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
    </li>

    <li class="success-story_item">
      <div class="success-story_info_wrapper">
        <div class="success-story_img_wrapper">
          <img
            class="success-story_img"
            src="img/success-story/success-story-5.webp"
            alt="work process"
          />
        </div>
        <div class="success-story_result_wrapper">
          <p class="success-story_result-text">Вадим заробляє</p>
          <p class="success-story_result-text result-text_accent">
            від 50000 гривень в місяць!
          </p>
        </div>
      </div>
      <div class="success-story_article_wrapper">
        <p class="success-story_article">
          І ви тільки представте: все це стало можливим на початку його кар’єри!
          Найкращим його рішенням було зберегти свій час і просто почати діяти.
          А саме прекрасне знаєте що? Він знає як подвоїти свій заробіток і
          зараз працює над цим.
        </p>
      </div>
    </li>
  </ul>
</section>
