<section class="tariffs-section container">
  <div class="tariff-header-wrapper">
    <h2 class="all-equal-text_desktop">
      <span class="all-equal-grey">Для нас усі учні рівні –<br /></span> тільки
      один тариф
    </h2>
    <div class="tariffs-summary-wrapper">
      <p class="summary-text">
        Давайте <br />
        підсумуємо, <br />
        що ви отримуєте
      </p>
      <img
        class="decoration-lines_mobile"
        src="img/tariffs/decoration_lines.svg"
        width="138"
        height="57"
        alt="декоративні лінії"
      />
      <img
        class="decoration-lines_tablet"
        src="img/tariffs/decoration_lines_tablet.svg"
        width="404"
        height="115"
        alt="декоративні лінії"
      />
      <img
        class="decoration-lines_desktop"
        src="img/tariffs/decoration_lines_desktop.svg"
        width="196"
        height="53"
        alt="декоративні лінії"
      />
    </div>
  </div>

  <div class="benefits-desktop-wrapper">
    <ul id="bonuses" class="benefits-list">
      <li class="benefits-item benefits-black benefits-left">
        <div class="benefits-icon-wrapper">
          <img
            src="img/tariffs/barber-pole.svg"
            width="39"
            height="39"
            alt="Іконка барберполу"
          />
        </div>
        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Навчальна академія</h3>
          <p class="benefits-description">
            Особистий доступ до навчальної академії, яка на 100% забезпечена
            усіма матеріалами для якісного навчання та практичних завдань
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-black benefits-right">
        <div class="benefits-icon-wrapper">
          <img
            src="img/tariffs/scissors.svg"
            width="39"
            height="39"
            alt="Іконка ножиць"
          />
        </div>
        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Якісні інструменти</h3>
          <p class="benefits-description">
            Наші студенти завжди мають доступ до найкращих інструментів - від
            класичних машинок і ножиць до останніх новинок на українському
            професійному ринку
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-black benefits-left">
        <div class="benefits-header-wrapper">
          <div class="benefits-icon-wrapper">
            <img
              src="img/tariffs/wig.svg"
              width="39"
              height="39"
              alt="Іконка перуки"
            />
          </div>
          <div class="benefits-extra-wrapper">
            <p class="benefits-old-price">8000 грн для 1 ст.</p>
            <p class="benefits-extra-info">входять у вартість</p>
          </div>
        </div>

        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Манекени для стрижок</h3>
          <p class="benefits-description">
            Ви отримаєте практичний досвід створення різних видів стрижок на
            манекенах вже з другого дня навчання
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-black benefits-right">
        <div class="benefits-icon-wrapper">
          <img
            src="img/tariffs/client.svg"
            width="39"
            height="39"
            alt="Іконка клієнта"
          />
        </div>
        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Практика на моделях</h3>
          <p class="benefits-description">
            У вас буде модель для відпрацювання кожної техніки і кожного виду
            стрижки. Під наглядом ментора курсу ви зрозумієте, наскільки легко
            створювати топові стрижки та зачіски для різних клієнтів
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-black benefits-left">
        <div class="benefits-icon-wrapper">
          <img
            src="img/tariffs/spray.svg"
            width="39"
            height="39"
            alt="Іконка спрею"
          />
        </div>
        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Безкоштовні матеріали</h3>
          <p class="benefits-description">
            Шампуні, кондиціонери, стайлінг, камуфляж, пасти, пудри та багато
            іншого у безлімітному користуванні для створення ідеальних образів
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-black benefits-right">
        <div class="benefits-icon-wrapper">
          <img
            src="img/tariffs/lightbulb.svg"
            width="39"
            height="39"
            alt="Іконка лампочки"
          />
        </div>
        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Бездоганні знання</h3>
          <p class="benefits-description">
            Навчимо не лише якісно стригти і працювати з бородою, а й надавати
            увесь спектр послуг, таких як стрижка брів, воскова депіляція та
            чистка вух з використанням вогню
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-white benefits-left">
        <div class="benefits-icon-wrapper white-bg">
          <img
            src="img/tariffs/award.svg"
            width="39"
            height="39"
            alt="Іконка нагороди"
          />
        </div>
        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Міжнародний сертифікат</h3>
          <p class="benefits-description">
            Відкриває перед вами можливість працювати в різних країнах світу.
            Ваша працездатність буде необмеженою.
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-white">
        <div class="benefits-header-wrapper">
          <div class="benefits-icon-wrapper white-bg">
            <img
              src="img/tariffs/employment.svg"
              width="39"
              height="39"
              alt="Іконка трудових контрактів"
            />
          </div>
          <div class="new-wrapper">
            <img
              class="new-text"
              alt="New in tariffs list"
              src="img/tariffs/new.svg"
              width="39"
              height="13"
            />
          </div>
        </div>

        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Працевлаштування</h3>
          <p class="benefits-description">
            Одразу після завершення курсу ви зможете влаштуватися в команду до
            нас або наших партнерів, або ми разом підберемо для вас роботу у
            відповідності до ваших умов.
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-white benefits-left">
        <div class="benefits-header-wrapper">
          <div class="benefits-icon-wrapper white-bg">
            <img
              src="img/tariffs/camera.svg"
              width="39"
              height="39"
              alt="Іконка відеокамери"
            />
          </div>
          <div class="benefits-extra-wrapper">
            <p class="benefits-old-price">4000 грн</p>
            <p class="benefits-extra-info">входить у вартість</p>
          </div>
        </div>

        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Професійні фотосесії</h3>
          <p class="benefits-description">
            Під час навчання ви разом з професійним фотографом створите власне
            портфоліо, яке підвищить вашу популярність у світі барберингу та у
            соцмережах
          </p>
        </div>
      </li>

      <li class="benefits-item benefits-white">
        <div class="benefits-header-wrapper">
          <div class="benefits-icon-wrapper white-bg">
            <img
              src="img/tariffs/gift.svg"
              width="39"
              height="39"
              alt="Іконка подарунку"
            />
          </div>
          <div class="benefits-extra-wrapper">
            <p class="benefits-old-price">5000 грн</p>
            <p class="benefits-extra-info">входить у вартість</p>
          </div>
        </div>

        <div class="benefits-info-wrapper">
          <h3 class="benefits-title">Бонусний урок</h3>
          <p class="benefits-description">
            Правильна презентація себе як експерта та як відкрити власний
            прибутковий бізнес
          </p>
        </div>
      </li>
    </ul>
    <div id="tariff">
      <h2 class="all-equal-text">
        <span class="all-equal-grey">Для нас усі учні рівні, <br /></span>
        тільки один тариф
      </h2>
    </div>

    <div class="tariff-card-overlay">
      <div class="tariff-card">
        <div class="barcode-wrapper">
          <img
            src="img/tariffs/barcode.svg"
            width="125"
            height="11"
            alt="штрихкод"
          /><img
            src="img/tariffs/barcode.svg"
            width="125"
            height="11"
            alt="штрихкод"
          /><img
            class="barcode-third"
            src="img/tariffs/barcode.svg"
            width="125"
            height="11"
            alt="штрихкод"
          />
        </div>
        <div class="tariff-card-content">
          <p class="tariffs-old-price">26 000 грн</p>
          <h3 class="tariffs-new-price">18600 грн</h3>
          <p class="register-text">
            Реєструйтеся на курс за <br />
            акційною вартістю сьогодні!
          </p>
          <h3 class="tariffs-duration-text">4 тижні</h3>
          <p class="tariffs-start">
            Курс починається <br />
            <span class="tariffs-startdate">23 грудня 2023 р.</span>
          </p>

          <div class="tariffs-payment">
            <img
              class="payment-box"
              src="img/tariffs/box.svg"
              width="143"
              height="148"
              alt="коробка"
            />
            <p class="tariffs-payment-text">
              Також ви можете скористатись послугою “Оплата частинами” і
              оформити розстрочку до 24 місяців через банки Приват та Моно.
            </p>
          </div>

          <a href="#contacts" class="generic-button tariff-btn">Хочу на курс</a>
        </div>
      </div>
    </div>
  </div>
</section>
