<section class="tariffs-section container">
  <div class="tariffs-summary-wrapper_mobile">
    <p class="summary-text">
      Давайте <br />
      підсумуємо, <br />
      що ви отримуєте
    </p>
    <img src="img/tariffs/decoration_lines.svg" alt="декоративні лінії" />
  </div>
  <ul id="bonuses" class="benefits-list">
    <li class="benefits-item benefits-white">
      <div class="benefits-icon-wrapper white-bg">
        <img src="img/tariffs/award.svg" alt="Іконка нагороди" />
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Міжнародний сертифікат</h3>
        <p class="benefits-description">
          Відкриває перед вами можливість працювати в різних країнах світу. Ваша
          працездатність буде необмеженою.
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-white">
      <div class="benefits-icon-wrapper white-bg">
        <img
          src="img/tariffs/employment.svg"
          alt="Іконка трудових контрактів"
        />
      </div>
      <div class="new-wrapper">
        <img class="new-text" src="img/tariffs/new.svg" />
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Працевлаштування</h3>
        <p class="benefits-description">
          Одразу після завершення курсу ви зможете влаштуватись в команду до
          нас, наших партнерів або спільно підберемо вам роботу за вашими
          умовами.
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-white">
      <div class="benefits-icon-wrapper white-bg">
        <img src="img/tariffs/camera.svg" alt="Іконка відеокамери" />
      </div>
      <div class="benefits-extra-wrapper">
        <p class="benefits-old-price">4000 грн</p>
        <p class="benefits-extra-info">входить у вартість</p>
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Професійні фотосесії</h3>
        <p class="benefits-description">
          Під час навчання ви створите власне портфоліо з професійним фотографом
          що підвищить вашу популярність в світі барберингу і в соц. мережах
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-black">
      <div class="benefits-icon-wrapper">
        <img src="img/tariffs/barber-pole.svg" alt="Іконка барберполу" />
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Навчальну академію</h3>
        <p class="benefits-description">
          Особистий доступ до навчальної академії, яка на 100% облаштована всіма
          матеріалами для якісного навчання і практичних завдань
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-black">
      <div class="benefits-icon-wrapper">
        <img src="img/tariffs/scissors.svg" alt="Іконка ножиць" />
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Якісні інструменти</h3>
        <p class="benefits-description">
          Наші студенти завжди мають доступ до найкращих інструментів. Від
          класичних машинок і ножиць до останніх новинок на українському
          професійному ринку
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-black">
      <div class="benefits-icon-wrapper">
        <img src="img/tariffs/wig.svg" alt="Іконка перуки" />
      </div>
      <div class="benefits-extra-wrapper">
        <p class="benefits-old-price">8000 грн для 1 ст.</p>
        <p class="benefits-extra-info">входять у вартість</p>
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Манекени для стрижок</h3>
        <p class="benefits-description">
          Ви отримаєте практичний досвід створення різних видів стрижок на
          манекенах вже з другого дня навчання
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-black">
      <div class="benefits-icon-wrapper">
        <img src="img/tariffs/client.svg" alt="Іконка клієнта" />
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Практику на моделях</h3>
        <p class="benefits-description">
          Для кожної техніки і стрижки в вас буде модель для відпрацювання. Під
          наглядом ментора курсу ви зрозумієте наскільки легко створювати топові
          стрижки і зачіски для різних клієнтів
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-black">
      <div class="benefits-icon-wrapper">
        <img src="img/tariffs/spray.svg" alt="Іконка спрею" />
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Безкоштовні матеріали</h3>
        <p class="benefits-description">
          Шампуні, кондиціонери, стайлінг, камуфляж, пасти, пудри та багато
          іншого в безлімітному використанні для створення ідеальних образів
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-black">
      <div class="benefits-icon-wrapper">
        <img src="img/tariffs/lightbulb.svg" alt="Іконка лампочки" />
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Бездоганні знання</h3>
        <p class="benefits-description">
          Навчимо не тільки якісно стригти і працювати з бородою, а захопимо
          весь спектр послуг, таких як стрижка брів, воскова депіляція та чистка
          вух з використанням вогню
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-white">
      <div class="benefits-icon-wrapper white-bg">
        <img src="img/tariffs/gift.svg" alt="Іконка подарунку" />
      </div>
      <div class="benefits-extra-wrapper">
        <p class="benefits-old-price">5000 грн</p>
        <p class="benefits-extra-info">входить у вартість</p>
      </div>
      <div class="benefits-info-wrapper">
        <h3 class="benefits-title">Бонусний урок</h3>
        <p class="benefits-description">
          Правильна презентація себе як експерта, та як відкрити власний
          прибутковий бізнес
        </p>
      </div>
    </li>
  </ul>

  <h2 class="all-equal-text">
    <span class="all-equal-grey">Для нас усі учні рівні <br /></span> тільки
    один тариф
  </h2>

  <div id="tariff" class="tariff-card">
    <div class="barcode-wrapper">
      <img src="img/tariffs/barcode.svg" alt="штрихкод" /><img
        src="img/tariffs/barcode.svg"
        alt="штрихкод"
      />
    </div>
    <div class="tariff-card-content">
      <p class="tariffs-old-price">26 000 грн</p>
      <h3 class="tariffs-new-price">18600 грн</h3>
      <p class="register-text">
        Реєструйтесь на курс за <br />
        акційною вартістю сьогодні!
      </p>
      <h3 class="tariffs-duration-text">4 тижні</h3>
      <p class="tariffs-start">
        Курс починається <br />
        <span class="tariffs-startdate">23 грудня 2023 р.</span>
      </p>

      <div class="tariffs-payment">
        <img src="img/tariffs/box.svg" alt="коробка" />
        <p class="tariffs-payment-text">
          Також ви можете скористатись послугою “Оплата частинами” і оформити
          розстрочку до 24 місяців через банки Приват та Моно.
        </p>
      </div>
      <button class="generic-button tariff-btn">Хочу на курс</button>
    </div>
  </div>
</section>
