.container {
  @media screen and (min-width: var(--mobile)) {
    width: var(--mobile);
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: var(--tablet)) {
    width: var(--tablet);
  }

  @media screen and (min-width: var(--desktop)) {
    width: var(--desktop);
  }
}
